<div class="page-title">
  <h2>{{'menu.routinesInventoryAudit' | translate}}</h2>
</div>
<mat-tab-group #routinesInventoryTab>
  <mat-tab label="Data">

    <form fxLayout="column" [formGroup]="routinesInventoryForm" (ngSubmit)="onroutinesInventorySubmit()"
      class="slim-form">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="stretch" fxLayoutGap="5px" class="data-form">
        <div fxFlex>
          <mat-card class="h-100">
            <mat-card-content>
              <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutGap="5px">
                <mat-form-field appearance="outline" fxFlex>
                  <mat-label>{{
                          'routines.inventory.warehouse' | translate
                          }}</mat-label>
                  <mat-select formControlName="warehouse">
                    <option value=""></option>
                    <option value="Customer">Customer</option>
                    <option value="Vendor">Vendor</option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex>
                  <mat-label>{{'routines.inventory.ian' | translate}}</mat-label>
                  <input matInput type="text" required formControlName="ian" />
                  <mat-error *ngIf="routinesInventoryFormControls.ian.invalid">
                    {{ 'error.field' | translate }}
                  </mat-error>
                </mat-form-field>
                <div class="form-three-button-container">
                  <ng-container *ngIf="mode">
                    <button (click)="mode=!mode" mat-raised-button color="primary">
                      <mat-icon>visibility</mat-icon>
                    </button>
                  </ng-container>

                </div>

                <div class="form-three-button-container" fxFlex>
                  <button mat-raised-button color="primary">
                    <mat-icon>cloud_upload</mat-icon>
                  </button>
                  <button mat-raised-button color="primary">
                    <mat-icon>cloud_download</mat-icon>
                  </button>
                </div>


              </div>
            </mat-card-content>
          </mat-card>
        </div>

      </div>
      <ng-container *ngIf="mode">

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="stretch" fxLayoutGap="5px" class="data-form">
          <div fxFlex>
            <mat-card class="h-100">
              <mat-card-content>
                <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutGap="5px">

                  <h3 fxFlex="90%"> Drag a colum header here to group by that column</h3>

                  <div fxFlex="10%" class="form-three-button-container">
                    <button mat-raised-button color="warn">
                      <mat-icon>loop</mat-icon>
                    </button>
                  </div>

                </div>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

        <mat-card>
          <mat-card-content>
            <table class="site-table w-100 mat-elevation-z8">
              <thead>
                <tr>
                  <th colspan="1"></th>
                  <th class="text-align-center" colspan="5">System</th>
                  <th class="text-align-center" colspan="5">Physical</th>
                </tr>
                <tr>
                  <th>{{ 'routines.inventory.location' | translate}}</th>
                  <th>{{ 'routines.inventory.itemcode' | translate}}</th>
                  <th>{{ 'routines.inventory.description' | translate}}</th>
                  <th>{{ 'routines.inventory.sku' | translate}}</th>
                  <th>{{ 'routines.inventory.qtygood' | translate}}</th>
                  <th>{{ 'routines.inventory.qtydmg' | translate}}</th>
                  <th>{{ 'routines.inventory.itemcode' | translate}}</th>
                  <th>{{ 'routines.inventory.description' | translate}}</th>
                  <th>{{ 'routines.inventory.sku' | translate}}</th>
                  <th>{{ 'routines.inventory.qtygood' | translate}}</th>
                  <th>{{ 'routines.inventory.qtydmg' | translate}}</th>
                </tr>
              </thead>
            </table>
          </mat-card-content>
        </mat-card>
      </ng-container>

      <ng-container *ngIf="!mode">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="stretch" fxLayoutGap="5px" class="data-form">
          <div fxFlex>
            <mat-card class="h-100">
              <h3>Filters</h3>
              <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutGap="5px">

                <mat-form-field appearance="outline" fxFlex>
                  <mat-label>{{'routines.inventory.row' | translate}}</mat-label>
                  <input matInput type="text" required formControlName="row" />
                  <mat-error *ngIf="routinesInventoryFormControls.row.invalid">
                    {{ 'error.field' | translate }}
                  </mat-error>
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex>
                  <mat-label>{{'routines.inventory.unit' | translate}}</mat-label>
                  <input matInput type="text" required formControlName="unit" />
                  <mat-error *ngIf="routinesInventoryFormControls.unit.invalid">
                    {{ 'error.field' | translate }}
                  </mat-error>
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex>
                  <mat-label>{{'routines.inventory.location' | translate}}</mat-label>
                  <input matInput type="text" required formControlName="location" />
                  <mat-error *ngIf="routinesInventoryFormControls.location.invalid">
                    {{ 'error.field' | translate }}
                  </mat-error>
                  <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

                <mat-form-field appearance="outline" fxFlex>
                  <mat-label>{{
                                'routines.inventory.status' | translate
                                }}</mat-label>
                  <mat-select formControlName="status">
                    <mat-option value="Customer">Free</mat-option>
                    <mat-option value="Vendor">Partial</mat-option>
                    <mat-option value="Vendor">Full </mat-option>
                  </mat-select>
                </mat-form-field>

                <div class="form-three-button-container" fxFlex>
                  <button type="button" mat-raised-button color="primary">
                    <mat-icon>visibility</mat-icon>
                  </button>
                </div>
              </div>
            </mat-card>
          </div>

        </div>
        <mat-card class="overflow-x">
          <mat-card-content>
            <table class="site-table w-100 mat-elevation-z8">
              <thead>
                <tr>
                  <th>{{ 'routines.inventory.row' | translate}}</th>
                  <th>{{ 'routines.inventory.unit' | translate}}</th>
                  <th>{{ 'routines.inventory.location' | translate}}</th>
                  <th>{{ 'routines.inventory.locationzone' | translate}}</th>
                  <th>{{ 'routines.inventory.status' | translate}}</th>
                  <th>{{ 'routines.inventory.lastaudit' | translate}}</th>
                  <th>{{ 'routines.inventory.currentaudit' | translate}}</th>
                </tr>
              </thead>


            </table>
          </mat-card-content>

        </mat-card>


      </ng-container>

      <mat-card *ngIf="mode">
        <mat-card-content>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="30px" fxLayoutAlign="space-between center">
            <div fxFlexOrder.lt-md="2">
            </div>
            <div class="form-three-button-container" fxFlexOrder.lt-md="1" >
              <button mat-raised-button color="primary" type="submit" (click)="saveInventoryForm()">
                <mat-icon>task_alt</mat-icon>
              </button>
              <button mat-raised-button color="accent" type="reset" (click)="resetroutinesInventoryForm()">
                <mat-icon>fast_forward</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>

      <mat-card *ngIf="!mode">
        <mat-card-content>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="30px" fxLayoutAlign="space-between center">
            <div fxFlexOrder.lt-md="2">
              <button mat-raised-button color="accent" (click)="mode=!mode">
                <mat-icon>arrow_back</mat-icon>
              </button>
            </div>
            <div class="form-three-button-container" fxFlexOrder.lt-md="1" >
              <button mat-raised-button color="primary" type="submit" >
                <mat-icon>save</mat-icon>
              </button>              
            </div>
          </div>
        </mat-card-content>
      </mat-card>

    </form>


  </mat-tab>
  <mat-tab label="Search">
    <form fxLayout="column" [formGroup]="searchInventoryForm" (ngSubmit)="onSearchInventorySubmit()" class="slim-form">
      <mat-card class="filter-container ">
        <mat-card-content>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                  'routines.inventory.warehouse' | translate
                  }}</mat-label>
              <input matInput type="text" formControlName="warehouse" />
              <mat-error *ngIf="searchInventoryFormControls.warehouse.invalid">
                {{ 'error.field' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                  'routines.inventory.ian' | translate
                  }}</mat-label>
              <input matInput type="text" formControlName="ian" />
              <mat-error *ngIf="searchInventoryFormControls.ian.invalid">
                {{ 'error.field' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                  'routines.inventory.iandate' | translate
                  }}</mat-label>
              <input matInput type="date" formControlName="iandate" />
              <mat-error *ngIf="searchInventoryFormControls.iandate.invalid">
                {{ 'error.field' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                  'routines.inventory.auditstatus' | translate
                  }}</mat-label>
              <input matInput type="text" formControlName="auditstatus" />
              <mat-error *ngIf="searchInventoryFormControls.auditstatus.invalid">
                {{ 'error.field' | translate }}</mat-error>
            </mat-form-field>
          </div>

        </mat-card-content>
      </mat-card>
      <mat-card class="search-container">
        <mat-card-content>
          <div class="form-button-container">
            <button mat-raised-button color="primary" type="submit">
              <mat-icon>search</mat-icon>
            </button>
            <button mat-raised-button color="accent" type="reset" (click)="resetInventorySearchForm()">
              <mat-icon>restart_alt</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
    <mat-card class="mat-elevation-z10 overflow-x">
      <mat-card-content>
        <table mat-table [dataSource]="searchDataSource" class="mat-elevation-z8 search-table">
          <ng-container matColumnDef="warehouse">
            <th mat-header-cell *matHeaderCellDef>{{ 'routines.inventory.warehouse' | translate}}</th>
            <td mat-cell *matCellDef="let element;">
              {{ element.warehouse }}
            </td>
          </ng-container>
          <ng-container matColumnDef="ian">
            <th mat-header-cell *matHeaderCellDef>{{ 'routines.inventory.ian' | translate}}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.ian }}
            </td>
          </ng-container>
          <ng-container matColumnDef="iandate">
            <th mat-header-cell *matHeaderCellDef>{{ 'routines.inventory.iandate' | translate}}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.iandate }}
            </td>
          </ng-container>
          <ng-container matColumnDef="auditstatus">
            <th mat-header-cell *matHeaderCellDef>{{ 'routines.inventory.auditstatus' | translate}}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.auditstatus }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <small *ngIf="searchDataSource.length === 0" class="empty-table">
          No records found
        </small>
      </mat-card-content>
    </mat-card> -->
  </mat-tab>
</mat-tab-group>
