@import '../../../../assets/scss/variables.scss';

.text-align-center {
    text-align: center;
}

.overflow-x {
    overflow-x: auto;
}

.read-only-input {
  @include breakpoint(mobileonly) {
    padding: 10px 0px;
  }
}
