<div class="page-title">
  <h2>{{'menu.baseItemType' | translate}}</h2>
</div>
<mat-tab-group #baseItemTypeTab>
  <mat-tab label="Data">
    <form [formGroup]="dataItemTypeForm" class="slim-form">
      <div fxLayout="row" class="data-form">
        <mat-card class="w-100">
          <mat-card-content>
            <div fxLayout="row" class="row" fxLayoutGap="5px">
              <mat-form-field appearance="outline" fxFlex="10" fxFlex.lt-sm="15">
                <mat-label>{{'base.itemType.code' | translate}}</mat-label>
                <input matInput type="text" formControlName="code" />
                <mat-error *ngIf="dataItemTypeControls.code.invalid">{{ 'error.field' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="60" fxFlex.lt-sm="50">
                <mat-label>{{'base.itemType.description' | translate }}</mat-label>
                <input matInput type="text" formControlName="description" />
                <mat-error *ngIf="dataItemTypeControls.description.invalid">{{ 'error.field' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-sm="35">
                <mat-label>{{'base.itemType.storageType' | translate }}</mat-label>
                <input matInput type="text" formControlName="storageType" />
                <mat-error *ngIf="dataItemTypeControls.storageType.invalid">{{ 'error.field' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <div class="pale-border-box">
              <b>{{ 'base.itemType.mandatory' | translate }}</b>
              <div class="row" fxFex fxLayout="row" fxLayout.lt-sm="row" fxLayoutGap="10px">
                <div>
                  <mat-checkbox color="primary" formControlName="manufacturingDate">{{
                    'base.itemType.manufacturingDate' | translate
                    }}</mat-checkbox>
                </div>
                <div>
                  <mat-checkbox color="primary" formControlName="batchNo">{{
                    'base.itemType.batchNo' | translate
                    }}</mat-checkbox>
                </div>
                <div>
                  <mat-checkbox color="primary" formControlName="expiry">{{
                    'base.itemType.expiry' | translate
                    }}</mat-checkbox>
                  <mat-form-field fxLayout="column" appearance="outline" fxFlex="60">
                    <mat-label>{{'base.itemType.alertDays' | translate}}</mat-label>
                    <input matInput type="text" formControlName="expiryAlertDays" />
                    <mat-error *ngIf="dataItemTypeControls.expiryAlertDays.invalid">{{ 'error.field' | translate }}
                    </mat-error>
                  </mat-form-field>
                </div>

              </div>
            </div>
            <div fxLayout="row" class="row" fxLayoutGap="5px">
              <mat-form-field appearance="outline" fxFlex="67" fxFlex.lt-sm="67">
                <mat-label>{{'base.itemType.consolidateOn' | translate}}</mat-label>
                <mat-select disableOptionCentering panelClass="slim-select-field" type="text" readonly
                  formControlName="consolidateOn">
                  <mat-option>Pick 1</mat-option>
                  <mat-option>Pick 2</mat-option>
                </mat-select>
                <mat-error *ngIf="dataItemTypeControls.consolidateOn.invalid">{{ 'error.field' | translate }}
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex="33" fxFlex.lt-sm="33">
                <mat-label>{{'base.itemType.defaultPick' | translate }}</mat-label>
                <mat-select disableOptionCentering panelClass="slim-select-field" type="text" readonly
                  formControlName="defaultPick">
                  <mat-option>Pick 1</mat-option>
                  <mat-option>Pick 2</mat-option>
                </mat-select>
                <mat-error *ngIf="dataItemTypeControls.defaultPick.invalid">{{ 'error.field' | translate }}
                </mat-error>
              </mat-form-field>
            </div>
            <mat-card class="w-100">
              <mat-card-content>
                <h3>{{'base.itemType.WHControl.whControl' | translate}}</h3>
                <table class="site-table w-100">
                  <thead>
                    <tr>
                      <th></th>
                      <th>{{ 'base.itemType.WHControl.code' | translate}}</th>
                      <th>{{ 'base.itemType.WHControl.name' | translate}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-template let-control ngFor [ngForOf]="whControlDataSource">
                      <tr>
                        <td style="text-align: center;">
                          <mat-checkbox color="primary"></mat-checkbox>
                        <td>{{control.code}}</td>
                        <td>{{control.name}}</td>
                      </tr>
                    </ng-template>
                  </tbody>
                </table>
              </mat-card-content>
            </mat-card>
          </mat-card-content>
        </mat-card>
      </div>
      <mat-card>
        <mat-card-content>
          <div class="form-three-button-container" style="margin-top: 5px;">
            <button mat-raised-button color="primary" type="submit" (click)="saveCompanyData()">
              <mat-icon>task_alt</mat-icon>
            </button>
            <button mat-raised-button color="warn" type="button" (click)="deleteCompanyData()">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
            <button mat-raised-button color="accent" type="reset" (click)="resetCompanyDataForm()">
              <mat-icon>loop</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </mat-tab>
  <!-- Search -->
  <mat-tab label="Search">
    <form fxLayout="column" [formGroup]="searchItemTypeForm" (ngSubmit)="onSearchItemTypeSubmit()" class="slim-form">
      <mat-card class="filter-container">
        <mat-card-content>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
            class="row">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'base.itemType.code' | translate
                }}</mat-label>
              <input matInput type="text" formControlName="code" />
              <mat-error *ngIf="searchItemTypeFormControls.code.invalid">
                {{ 'error.field' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'base.itemType.description' | translate
                }}</mat-label>
              <input matInput type="text" formControlName="description" />
              <mat-error *ngIf="searchItemTypeFormControls.description.invalid">
                {{ 'error.field' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'base.itemType.storageType' | translate
                }}</mat-label>
              <input matInput type="text" formControlName="storageType" />
              <mat-error *ngIf="searchItemTypeFormControls.storageType.invalid">
                {{ 'error.field' | translate }}</mat-error>
            </mat-form-field>
          </div>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
            class="row">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'base.itemType.warehouse' | translate
                }}</mat-label>
              <input matInput type="text" formControlName="warehouse" />
              <mat-error *ngIf="searchItemTypeFormControls.warehouse.invalid">
                {{ 'error.field' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="20">
              <mat-label>Expiry</mat-label>
              <mat-select disableOptionCentering panelClass="slim-select-field" type="text" formControlName="expiry">
                <mat-option value="yes">Yes</mat-option>
                <mat-option value="no">No</mat-option>
              </mat-select>
              <mat-error *ngIf="searchItemTypeFormControls.expiry.invalid">{{ 'error.field' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="20">
              <mat-label>Mfg Date ?.</mat-label>
              <mat-select disableOptionCentering panelClass="slim-select-field" type="text" formControlName="MfgDate">
                <mat-option value="yes">Yes</mat-option>
                <mat-option value="no">No</mat-option>
              </mat-select>
              <mat-error *ngIf="searchItemTypeFormControls.MfgDate.invalid">{{ 'error.field' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="20">
              <mat-label>Batch No ?</mat-label>
              <mat-select disableOptionCentering panelClass="slim-select-field" type="text" formControlName="batchNo">
                <mat-option value="yes">Yes</mat-option>
                <mat-option value="no">No</mat-option>
              </mat-select>
              <mat-error *ngIf="searchItemTypeFormControls.batchNo.invalid">{{ 'error.field' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="search-container">
        <mat-card-content>
          <div class="form-button-container">
            <button mat-raised-button color="primary" type="submit">
              <mat-icon>search</mat-icon>
            </button>
            <button mat-raised-button color="accent" type="reset" (click)="resetItemTypeSearchForm()">
              <mat-icon>restart_alt</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
    <mat-card class="mat-elevation-z10">
      <mat-card-content>
        <table mat-table [dataSource]="searchItemTypeDataSource" class="mat-elevation-z8 search-table">
          <ng-container matColumnDef="code">
            <th mat-header-cell *matHeaderCellDef>Code</th>
            <td mat-cell *matCellDef="let element; let idx=index">
              <button mat-button disableRipple class="primary-button link-button"
                (click)="searchItemClick($event, element, idx)">{{ element.code }}</button>
            </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let element">
              {{ element.description }}
            </td>
          </ng-container>
          <ng-container matColumnDef="storageType">
            <th mat-header-cell *matHeaderCellDef>Storage Type</th>
            <td mat-cell *matCellDef="let element">
              {{ element.storageType }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedSearchItemTypeColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedSearchItemTypeColumns"></tr>
        </table>
        <small *ngIf="searchItemTypeDataSource.length === 0" class="empty-table">
          No records found
        </small>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
