@import '../../../../assets/scss/variables.scss';

.app-container {
  padding: 0.25rem;
}

.app-navbar {
  position: fixed;
  background-color: $site-primary;
  color: $site-white;
  height: 55px;
  padding-left: 0;
  padding-right: 0;
  z-index: 2;
  .app-brand {
    display: flex;
    height: 50px;
    width: 345px;
    .app-logo {
      padding-left: 9px;
      width: 100%;
      background-color: $site-white;
      clip-path: polygon(
        0 0,
        100% 0%,
        calc(100% - 32px) 100%,
        0% 100%
      ) !important;
      @include breakpoint(mobileonly) {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%) !important;
      }
      @include breakpoint(tablet) {
        clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%) !important;
      }
      img {
        height: 50px;
        @include breakpoint(mobileonly) {
          height: 26px !important;
          margin-top: 13px !important;
        }
      }
    }
  }
  .menu-bar {
    margin-left: 20px;
    @include breakpoint(tablet) {
      width: 50% !important;
      margin-left: 0 !important;
    }
    & > button[mat-button] {
      transition: all 0.25s ease;
      margin-right: 5px !important;
      @include breakpoint(tablet) {
        min-width: 0px;
        line-height: 0px;
        padding: 2.5px;
      }
      &:hover,
      &.active {
        border-radius: 0px;
        border-left: 1px solid $site-white;
        border-right: 1px solid $site-white;
        transform: scale(1.2);
      }
    }
    button > span.mat-icon {
      @include breakpoint(tablet) {
        font-size: 30px;
      }
    }
  }
}

.user-avatar {
  border-radius: 50%;
}

.site-container {
  display: block;
  height: 100%;
  padding-top: 55px;
  width: 100%;
  .side-nav {
    min-width: 250px !important;
    @include breakpoint(tablet) {
      margin-top: 50px !important;
    }
    @include breakpoint(phablet) {
      margin-top: 50px !important;
    }
    @include breakpoint(mobileonly) {
      margin-top: 50px !important;
    }
    @include breakpoint(phablet) {
      margin-top: 50px !important;
    }
  }
}

.notification-item {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
  img {
    border-radius: 50%;
    height: 24px;
    margin-right: 0.5rem;
    width: 24px;
  }
  span {
    font-weight: bold;
  }
}
.settings {
  transition: transform 0.7s ease-in-out;
}
.settings:hover {
  transform: rotate(1turn);
}

.bell {
  animation: ring 5s;
  transform-origin: 50% 4px;
}

.mat-badge {
  margin-left: 4px !important;
}

.logout-button {
  @include breakpoint(mobileonly) {
    padding-right: 10px;
  }
}

@keyframes ring {
  0% {
    -webkit-transform: rotateZ(0);
  }
  1% {
    -webkit-transform: rotateZ(30deg);
  }
  3% {
    -webkit-transform: rotateZ(-28deg);
  }
  5% {
    -webkit-transform: rotateZ(34deg);
  }
  7% {
    -webkit-transform: rotateZ(-32deg);
  }
  9% {
    -webkit-transform: rotateZ(30deg);
  }
  11% {
    -webkit-transform: rotateZ(-28deg);
  }
  13% {
    -webkit-transform: rotateZ(26deg);
  }
  15% {
    -webkit-transform: rotateZ(-24deg);
  }
  17% {
    -webkit-transform: rotateZ(22deg);
  }
  19% {
    -webkit-transform: rotateZ(-20deg);
  }
  21% {
    -webkit-transform: rotateZ(18deg);
  }
  23% {
    -webkit-transform: rotateZ(-16deg);
  }
  25% {
    -webkit-transform: rotateZ(14deg);
  }
  27% {
    -webkit-transform: rotateZ(-12deg);
  }
  29% {
    -webkit-transform: rotateZ(10deg);
  }
  31% {
    -webkit-transform: rotateZ(-8deg);
  }
  33% {
    -webkit-transform: rotateZ(6deg);
  }
  35% {
    -webkit-transform: rotateZ(-4deg);
  }
  37% {
    -webkit-transform: rotateZ(2deg);
  }
  39% {
    -webkit-transform: rotateZ(-1deg);
  }
  41% {
    -webkit-transform: rotateZ(1deg);
  }
  43% {
    -webkit-transform: rotateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(0);
  }
}

@media only screen and (min-width: 1020px) and (max-width: 1410px) {
  .app-brand {
    width: 383px !important;
  }
  .menu-bar  > button[mat-button] {
    margin: 0 !important;
    padding: 03px !important;
  }
}
