<mat-toolbar color="primary" class="app-navbar mat-elevation-z6">
  <div class="app-brand">
    <button mat-icon-button (click)="sidenav.toggle()" fxShow fxHide.gt-md>
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['/setup']" class="app-logo">
      <img src="../../../../assets/images/full-logo.png" alt="logo">
      <!-- <img src="../../../../assets/images/istorepro-logo.jpg">
      <img src="../../../../assets/images/be-logo.png"> -->
    </a>
  </div>
  <div fxHide fxShow.gt-md class="menu-bar">
    <button mat-button [matMenuTriggerFor]="setupMenu">
      {{'menu.setup' | translate}} <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #setupMenu="matMenu" backdropClass="top-menu">
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/setup/company']">{{'menu.setupCompany' | translate }}</a>
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/setup/warehouse']">{{'menu.setupWarehouse' | translate }}</a>
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/setup/owner']">{{'menu.setupOwner' | translate }}</a>
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/setup/security']">{{'menu.setupSecurity' | translate }}</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="baseMenu">
      {{'menu.base' | translate}}  <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #baseMenu="matMenu" backdropClass="top-menu">
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/base/item-type']">{{'menu.baseItemType' | translate}}</a>
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/base/item']">{{'menu.baseItem' | translate}}</a>
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/base/storage-type']">{{'menu.baseStorageType' | translate}}</a>
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/base/zone']">{{'menu.baseZone' | translate}}</a>
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/base/location']">{{'menu.baseLocation' | translate}}</a>
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/base/reason']">{{'menu.baseReason' | translate}}</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="operationsMenu">
      {{'menu.operations' | translate}}  <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #operationsMenu="matMenu" backdropClass="top-menu">
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/operations/receipt']">{{'menu.operationsReceipt' | translate}}</a>
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/operations/location-management']">{{'menu.operationsLocationManagement' | translate}}</a>
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/operations/heat-map']">{{'menu.operationsHeatMap' | translate}}</a>
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/operations/delivery']">{{'menu.operationsDelivery' | translate}}</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="scansMenu">
      {{'menu.scans' | translate}}  <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #scansMenu="matMenu" backdropClass="top-menu">
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/scans/double-scan']">{{'menu.scansDoubleScan' | translate}}</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="routinesMenu">
      {{'menu.routines' | translate}}  <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #routinesMenu="matMenu" backdropClass="top-menu">
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/routines/inventory-audit']">{{'menu.routinesInventoryAudit' | translate}}</a>
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/routines/stock-adjust']">{{'menu.routinesStockAdjust' | translate}}</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="queryMenu">
      {{'menu.query' | translate}}  <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #queryMenu="matMenu" backdropClass="top-menu">
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/query/stock']">{{'menu.queryStock' | translate}}</a>
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/query/transactions']">{{'menu.queryTransactions' | translate}}</a>
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/query/documents']">{{'menu.queryDocuments' | translate}}</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="dashboardsMenu">
      {{'menu.dashboards' | translate}}  <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #dashboardsMenu="matMenu" backdropClass="top-menu">
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/dashboards/mis']">{{'menu.dashboardsMIS' | translate}}</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="adminMenu">
      {{'menu.admin' | translate}}  <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #adminMenu="matMenu" backdropClass="top-menu">
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/admin/system-control']">{{'menu.adminSystemControl' | translate}}</a>
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/admin/consistency']">{{'menu.adminConsistency' | translate}}</a>
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/admin/login-audit']">{{'menu.adminLoginAudit' | translate}}</a>
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/admin/audit-trail']">{{'menu.adminAuditTrail' | translate}}</a>
    </mat-menu>
  </div>
  <span class="spacer"></span>
  <button mat-icon-button
    [matTooltip]="userAccountTranslated"
    [matMenuTriggerFor]="userAccountMenu">
    <mat-icon>account_circle</mat-icon>
    <!-- <img src="../../../../assets/avatars/person.png" class="user-avatar" alt="user-logo" height="30"> -->
  </button>
  <mat-menu #userAccountMenu="matMenu" backdropClass="top-menu">
    <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/account/profile']">{{'menu.userAccountProfile' | translate}}</a>
  </mat-menu>
  <button mat-icon-button
    [matTooltip]="notificationsTranslated"
    [matMenuTriggerFor]="notificationMenu">
    <mat-icon class="bell">notifications</mat-icon>
    <span matBadge="15" matBadgeSize="medium" class="mat-badge" matBadgeColor="warn"></span>
  </button>
  <mat-menu #notificationMenu="matMenu" xPosition="before" class="notification-menu">
    <div *ngFor="let n of notifications;" class="notification-item">
     <img [src]="n.avatar" [alt]="n.author">
     <span>{{ n.title }}</span>
     <small>{{n.subTitle}}</small>
    </div>
  </mat-menu>
  <button mat-icon-button
    [matTooltip]="settingsTranslated">
    <mat-icon class="settings">settings</mat-icon>
  </button>

  <button mat-icon-button class="logout-button"
    [matTooltip]="logoutTranslated"
    (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="site-container">
  <mat-sidenav #sidenav class="side-nav">
    <mat-nav-list *ngIf="headerNavItems">
      <ibe-nav-list-item *ngFor="let item of headerNavItems" [item]="item"></ibe-nav-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet" class="app-container"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<ibe-loading></ibe-loading>
