<mat-toolbar color="primary" class="app-navbar mat-elevation-z6">
  <div class="app-brand">
    <button mat-icon-button (click)="sidenav.toggle()" fxShow fxHide.gt-md>
      <mat-icon>menu</mat-icon>
    </button>
    <a [routerLink]="['/home']" class="app-logo">
      <img src="../../../../assets/images/full-logo.png" alt="logo">
    </a>
  </div>
  <div fxHide fxShow.gt-md class="menu-bar">
    <button mat-button [matMenuTriggerFor]="setupMenu">
      {{'menu.setup' | translate}} <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #setupMenu="matMenu" backdropClass="top-menu">
      <a mat-menu-item routerLinkActive="active-link"
        [routerLink]="['/setup/company']">{{'menu.setupCompany' | translate }}</a>
      <a mat-menu-item routerLinkActive="active-link"
        [routerLink]="['/setup/warehouse']">{{'menu.setupWarehouse' | translate }}</a>
      <a mat-menu-item routerLinkActive="active-link"
        [routerLink]="['/setup/owner']">{{'menu.setupOwner' | translate }}</a>
      <a mat-menu-item routerLinkActive="active-link"
        [routerLink]="['/setup/security']">{{'menu.setupSecurity' | translate }}</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="baseMenu">
      {{'menu.base' | translate}} <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #baseMenu="matMenu" backdropClass="top-menu">
      <a mat-menu-item routerLinkActive="active-link"
        [routerLink]="['/base/item-type']">{{'menu.baseItemType' | translate}}</a>
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/base/item']">{{'menu.baseItem' | translate}}</a>
      <a mat-menu-item routerLinkActive="active-link"
        [routerLink]="['/base/storage-type']">{{'menu.baseStorageType' | translate}}</a>
      <a mat-menu-item routerLinkActive="active-link" [routerLink]="['/base/zone']">{{'menu.baseZone' | translate}}</a>
      <a mat-menu-item routerLinkActive="active-link"
        [routerLink]="['/base/location']">{{'menu.baseLocation' | translate}}</a>
      <a mat-menu-item routerLinkActive="active-link"
        [routerLink]="['/base/reason']">{{'menu.baseReason' | translate}}</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="operationsMenu">
      {{'menu.operations' | translate}} <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #operationsMenu="matMenu" backdropClass="top-menu">
      <a mat-menu-item routerLinkActive="active-link"
        [routerLink]="['/operations/receipt']">{{'menu.operationsReceipt' | translate}}</a>
      <a mat-menu-item routerLinkActive="active-link"
        [routerLink]="['/operations/location-management']">{{'menu.operationsLocationManagement' | translate}}</a>
      <a mat-menu-item routerLinkActive="active-link"
        [routerLink]="['/operations/heat-map']">{{'menu.operationsHeatMap' | translate}}</a>
      <a mat-menu-item routerLinkActive="active-link"
        [routerLink]="['/operations/delivery']">{{'menu.operationsDelivery' | translate}}</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="scansMenu">
      {{'menu.scans' | translate}} <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #scansMenu="matMenu" backdropClass="top-menu">
      <a mat-menu-item routerLinkActive="active-link"
        [routerLink]="['/scans/double-scan']">{{'menu.scansDoubleScan' | translate}}</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="routinesMenu">
      {{'menu.routines' | translate}} <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #routinesMenu="matMenu" backdropClass="top-menu">
      <a mat-menu-item routerLinkActive="active-link"
        [routerLink]="['/routines/inventory-audit']">{{'menu.routinesInventoryAudit' | translate}}</a>
      <a mat-menu-item routerLinkActive="active-link"
        [routerLink]="['/routines/stock-adjust']">{{'menu.routinesStockAdjust' | translate}}</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="queryMenu">
      {{'menu.query' | translate}} <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #queryMenu="matMenu" backdropClass="top-menu">
      <a mat-menu-item routerLinkActive="active-link"
        [routerLink]="['/query/stock']">{{'menu.queryStock' | translate}}</a>
      <a mat-menu-item routerLinkActive="active-link"
        [routerLink]="['/query/transactions']">{{'menu.queryTransactions' | translate}}</a>
      <a mat-menu-item routerLinkActive="active-link"
        [routerLink]="['/query/documents']">{{'menu.queryDocuments' | translate}}</a>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="dashboardsMenu">
      {{'menu.dashboards' | translate}} <mat-icon>expand_more</mat-icon>
    </button>
    <mat-menu #dashboardsMenu="matMenu" backdropClass="top-menu">
      <a mat-menu-item routerLinkActive="active-link"
        [routerLink]="['/dashboards/mis']">{{'menu.dashboardsMIS' | translate}}</a>
    </mat-menu>
    <!-- <button mat-button [matMenuTriggerFor]="adminMenu">
      {{'menu.admin' | translate}} <mat-icon>expand_more</mat-icon>
    </button> -->
  </div>
  <span class="spacer"></span>
  <button mat-icon-button [matTooltip]="userAccountTranslated" [matMenuTriggerFor]="userAccountMenu">
    <mat-icon>account_circle</mat-icon>
    <!-- <img src="../../../../assets/avatars/person.png" class="user-avatar" alt="user-logo" height="30"> -->
  </button>
  <mat-menu class="profile" #userAccountMenu="matMenu" backdropClass="top-menu">
    <div class="padding">

      <div (click)="$event.stopPropagation();" fxLayout="row">
        <div fxFlex="33%">

        </div>
        <div fxFlex="33%">
          <img fxFlex class="text-center img-round" src="../../../../assets/avatars/person.png" width="50" height="60"
            alt="">
        </div>
        <div fxFlex="33%">

        </div>

      </div>
      <br>
      <div (click)="$event.stopPropagation();" fxLayout="column">
        <form fxLayout="column" [formGroup]="profileUpdateForm" (ngSubmit)="onProfileUpdateSubmit()" class="slim-form">
          <fieldset class="read-only-input" fxFlex>
            <legend>{{ 'general.fullName' | translate }}</legend>
            <label>{{ profileUpdateFormControls.fullName.value }}</label>
          </fieldset>
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{
            'general.loginName' | translate
            }}</mat-label>
            <mat-select disableOptionCentering panelClass="slim-select-field" type="text" formControlName="loginName">
            </mat-select>
            <mat-error *ngIf="profileUpdateFormControls.loginName.invalid">
              {{ 'error.field' | translate }}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{
            'general.oldPassword' | translate
            }}</mat-label>
            <input matInput type="password" formControlName="oldPassword" />
            <mat-error *ngIf="profileUpdateFormControls.oldPassword.invalid">
              {{ 'error.field' | translate }}</mat-error>
            <mat-icon matSuffix>vpn_key</mat-icon>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{
            'general.newPassword' | translate
            }}</mat-label>
            <input matInput type="password" #securityPassword formControlName="newPassword" />
            <ibe-password-strength *ngIf="securityPassword.value" [password]="securityPassword.value"
              (onStrengthChanged)="onStrengthChanged($event)">
            </ibe-password-strength>
            <mat-icon matSuffix>lock_open</mat-icon>
            <mat-error *ngIf="profileUpdateFormControls.newPassword.invalid">
              {{ 'error.field' | translate }}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex>
            <mat-label>{{
            'general.confirmPassword' | translate
            }}</mat-label>
            <input matInput type="password" #securityConfirmPassword formControlName="confirmPassword" />
            <ibe-password-strength *ngIf="securityConfirmPassword.value" [password]="securityConfirmPassword.value"
              (onStrengthChanged)="onStrengthChanged($event)">
            </ibe-password-strength>
            <mat-icon matSuffix>lock_open</mat-icon>
            <mat-error *ngIf="profileUpdateFormControls.confirmPassword.invalid">
              {{ 'error.field' | translate }}</mat-error>
          </mat-form-field>
        </form>
        <div class="form-three-button-container" fxFlexOrder.lt-md="1">
          <button mat-raised-button color="primary" type="submit" (click)="onProfileUpdateSubmit()">
            <mat-icon>task_alt</mat-icon>
          </button>
          <button mat-raised-button color="accent" type="reset" (click)="resetProfileUpdateForm()">
            <mat-icon>loop</mat-icon>
          </button>
        </div>
      </div>
    </div>

  </mat-menu>
  <button mat-icon-button [matTooltip]="notificationsTranslated" [matMenuTriggerFor]="notificationMenu">
    <mat-icon class="bell">notifications</mat-icon>
    <span matBadge="15" matBadgeSize="medium" class="mat-badge" matBadgeColor="warn"></span>
  </button>
  <mat-menu #notificationMenu="matMenu" xPosition="before" class="notification-menu">
    <div *ngFor="let n of notifications;" class="notification-item">
      <img [src]="n.avatar" [alt]="n.author">
      <span>{{ n.title }}</span>
      <small>{{n.subTitle}}</small>
    </div>
  </mat-menu>

  <button mat-icon-button>
    <mat-icon class="settings" [routerLink]="['/settings']">settings</mat-icon>
  </button>
  <!-- <button mat-icon-button [matTooltip]="settingsTranslated" [matMenuTriggerFor]="settingsMenu">
    <mat-icon class="settings">settings</mat-icon>
  </button>
  <mat-menu #settingsMenu="matMenu" backdropClass="top-menu">
    <a mat-menu-item routerLinkActive="active-link"
      [routerLink]="['/admin/system-control']">{{'menu.adminSystemControl' | translate}}</a>
    <a mat-menu-item routerLinkActive="active-link"
      [routerLink]="['/admin/consistency']">{{'menu.adminConsistency' | translate}}</a>
    <a mat-menu-item routerLinkActive="active-link"
      [routerLink]="['/admin/login-audit']">{{'menu.adminLoginAudit' | translate}}</a>
    <a mat-menu-item routerLinkActive="active-link"
      [routerLink]="['/admin/audit-trail']">{{'menu.adminAuditTrail' | translate}}</a>
  </mat-menu> -->

  <button mat-icon-button class="logout-button" [matTooltip]="logoutTranslated" (click)="logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="site-container">
  <mat-sidenav #sidenav class="side-nav">
    <mat-nav-list *ngIf="headerNavItems">
      <ibe-nav-list-item *ngFor="let item of headerNavItems" [item]="item"></ibe-nav-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content [@routeAnimations]="prepareRoute(outlet)" [ngClass]="production ? '' : 'radial-gradient'">
    <router-outlet #outlet="outlet" class="app-container"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<ibe-loading></ibe-loading>
