<button mat-raised-button class="dialog-close" [mat-dialog-close]="true" color="warn">
  <mat-icon class="close-icon">close</mat-icon>
</button>

<form [formGroup]="putawayForm" (ngSubmit)="onPutawayFormSubmit()" class="slim-form">
  <section class="bordered-section">
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5px">
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5px" fxFlex>
        <fieldset class="read-only-input" fxFlex="50">
          <legend>{{ 'operations.receipt.warehouse' | translate }}</legend>
          <label>{{ putawayFormControls.warehouse.value }}</label>
        </fieldset>
        <fieldset class="read-only-input" fxFlex="50">
          <legend>{{ 'operations.receipt.owner' | translate }}</legend>
          <label>{{ putawayFormControls.owner.value }}</label>
        </fieldset>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5px" fxFlex>
        <fieldset class="read-only-input" fxFlex="50">
          <legend>{{ 'operations.receipt.po' | translate }}</legend>
          <label>{{ putawayFormControls.po.value }}</label>
        </fieldset>
        <fieldset class="read-only-input" fxFlex="50">
          <legend>{{ 'operations.receipt.grn' | translate }}</legend>
          <label>{{ putawayFormControls.grn.value }}</label>
        </fieldset>
      </div>
    </div>

    <table class="site-table text-center w-100 mt">
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th colspan="3" class="text-center">{{ 'operations.receipt.stock' | translate}}</th>
          <th colspan="3" class="text-center">{{ 'operations.receipt.planning' | translate}}</th>
          <th></th>
        </tr>
        <tr>
          <th></th>
          <th>{{ 'operations.receipt.item' | translate}}</th>
          <th>{{ 'operations.receipt.description' | translate}}</th>
          <th>{{ 'operations.receipt.location' | translate}}</th>
          <th>{{ 'operations.receipt.unit' | translate}}</th>
          <th>{{ 'operations.receipt.qtygood' | translate}}</th>
          <th>{{ 'operations.receipt.qtydmg' | translate}}</th>
          <th>{{ 'operations.receipt.unit' | translate}}</th>
          <th>{{ 'operations.receipt.qtygood' | translate}}</th>
          <th>{{ 'operations.receipt.qtydmg' | translate}}</th>
          <th>{{ 'operations.receipt.operator' | translate}}</th>
        </tr>
      </thead>
    </table>

  </section>
  <div class="modal-button-bottom">
    <button mat-raised-button color="primary" type="submit">
      <mat-icon>task_alt</mat-icon>
    </button>
  </div>
</form>