.form-actions {
  margin-top: 10px;
  button {
    margin-left: 5px;
  }
}

.w-10{
  width: 10px !important;
}

.button-container{
  margin-top: 2px !important;
}

.add-items{
  margin-right: 5px!important;
}
.cancel-items{
  margin-left: 5px!important;
}
