<mat-tab-group #setupCompanyTab>
  <mat-tab label="Data">

  </mat-tab>
  <mat-tab label="Search">
    <form fxLayout="column" [formGroup]="searchCompanyForm">
    <mat-card>
      <mat-card-content>
        <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
          <mat-form-field appearance="standard" fxFlex>
            <mat-label>{{ 'setup.company.companyCode' | translate }}</mat-label>
            <input matInput type="text"
              formControlName="companyCode">
            <mat-error *ngIf="searchCompanyFormControls.companyCode.invalid">{{'setup.company.invalidCompanyCode' | translate}}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="standard" fxFlex>
            <mat-label>{{ 'setup.company.companyName' | translate }}</mat-label>
            <input matInput type="text"
              formControlName="companyName">
            <mat-error *ngIf="searchCompanyFormControls.companyName.invalid">{{'setup.company.invalidCompanyName' | translate}}</mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions>
      <div fxLayoutAlign="end center" class="form-four-button-container">
        <button mat-raised-button color="primary"><mat-icon>search</mat-icon></button>
        <button mat-raised-button color="accent"><mat-icon>restart_alt</mat-icon></button>
      </div>
      </mat-card-actions>
    </mat-card>
    </form>
    <button mat-raised-button (click)="searchItemClick()">Data</button>

    <!-- <table
    mat-table
    [dataSource]="dataSource"
    class="site-table mat-elevation-z8"
  >
    <ng-container matColumnDef="companyCode">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'transactions.receipt.tblHeaderVolume' | translate }}
      </th>
      <td mat-cell *matCellDef="let element" [formGroup]="element">
        <input matInput formControlName="companyCode" />
      </td>
    </ng-container>
    <ng-container matColumnDef="companyName">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'transactions.receipt.tblHeaderVolume' | translate }}
      </th>
      <td mat-cell *matCellDef="let element" [formGroup]="element">
        <input matInput formControlName="companyName" />
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef></th>
      <td
        mat-cell
        *matCellDef="let element; let idx = index"
        [formGroup]="element"
      >
        <button
          mat-icon-button
          color="accent"
          (click)="onViewCompany($event, element, idx)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table> -->
  </mat-tab>
</mat-tab-group>
