<mat-tab-group #setupCompanyTab>
  <mat-tab label="Data">
    <div
      fxLayout="row"
      fxLayout.lt-md="column"
      fxLayoutAlign="stretch"
      fxLayoutGap="5px"
      class="company-data"
    >
      <div fxFlex="70%">
        <form
          fxLayout="column"
          [formGroup]="dataCompanyForm"
          (ngSubmit)="onDataCompanySubmit()"
          class="slim-form"
        >
          <mat-card>
            <mat-card-content>
              <div fxLayout="row" class="row" fxLayoutGap="5px">
                <mat-form-field appearance="outline" fxFlex="32">
                  <mat-label>{{
                    'setup.company.companyCode' | translate
                  }}</mat-label>
                  <input
                    matInput
                    type="text"
                    readonly
                    formControlName="companyCode"
                  />
                  <mat-error *ngIf="dataCompanyFormControls.companyCode.invalid"
                    >{{ 'error.field' | translate }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="67">
                  <mat-label>{{
                    'setup.company.companyName' | translate
                  }}</mat-label>
                  <input
                    matInput
                    type="text"
                    required
                    formControlName="companyName"
                  />
                  <mat-error *ngIf="dataCompanyFormControls.companyName.invalid"
                    >{{ 'error.field' | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div fxLayout="row" class="row" fxLayoutGap="5px">
                <mat-form-field appearance="outline" fxFlex="49">
                  <mat-label>{{
                    'setup.company.address1' | translate
                  }}</mat-label>
                  <input
                    matInput
                    type="text"
                    required
                    formControlName="address1"
                  />
                  <mat-error *ngIf="dataCompanyFormControls.address1.invalid">{{
                    'error.field' | translate
                  }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50">
                  <mat-label>{{
                    'setup.company.address2' | translate
                  }}</mat-label>
                  <input matInput type="text" formControlName="address2" />
                  <mat-error *ngIf="dataCompanyFormControls.address2.invalid">{{
                    'error.field' | translate
                  }}</mat-error>
                </mat-form-field>
              </div>
              <div fxLayout="row" class="row" fxLayoutGap="5px">
                <mat-form-field appearance="outline" fxFlex="49">
                  <mat-label>{{
                    'setup.company.address3' | translate
                  }}</mat-label>
                  <input matInput type="text" formControlName="address3" />
                  <mat-error *ngIf="dataCompanyFormControls.address3.invalid">{{
                    'error.field' | translate
                  }}</mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="50">
                  <mat-label>{{
                    'setup.company.address4' | translate
                  }}</mat-label>
                  <input matInput type="text" formControlName="address4" />
                  <mat-error *ngIf="dataCompanyFormControls.address4.invalid">{{
                    'error.field' | translate
                  }}</mat-error>
                </mat-form-field>
              </div>
              <div fxLayout="row" class="row" fxLayoutGap="5px">
                <mat-form-field appearance="outline" fxFlex="32">
                  <mat-label>{{
                    'setup.company.telephone' | translate
                  }}</mat-label>
                  <input matInput type="text" formControlName="telephone" />
                  <mat-error
                    *ngIf="dataCompanyFormControls.telephone.invalid"
                    >{{ 'error.field' | translate }}</mat-error
                  >
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex="32">
                  <mat-label>{{ 'setup.company.fax' | translate }}</mat-label>
                  <input matInput type="text" formControlName="fax" />
                  <mat-error *ngIf="dataCompanyFormControls.fax.invalid">{{
                    'error.field' | translate
                  }}</mat-error>
                </mat-form-field>
                <mat-form-field
                  appearance="outline"
                  fxFlex.gt-sm="34"
                  fxFlex.lt-md="33"
                >
                  <mat-label>{{
                    'setup.company.sector' | translate
                  }}</mat-label>
                  <mat-select formControlName="sector">
                    <option value=""></option>
                  </mat-select>
                  <mat-error *ngIf="dataCompanyFormControls.sector.invalid">{{
                    'error.field' | translate
                  }}</mat-error>
                </mat-form-field>
              </div>
              <div fxLayout="row" class="row" fxLayoutGap="10px">
                <mat-form-field appearance="outline" fxFlex="99">
                  <mat-label>{{ 'setup.company.email' | translate }}</mat-label>
                  <input
                    matInput
                    type="text"
                    required
                    formControlName="email"
                  />
                  <mat-error *ngIf="dataCompanyFormControls.email.invalid">{{
                    'error.field' | translate
                  }}</mat-error>
                </mat-form-field>
              </div>
              <div class="row">
                <mat-checkbox formControlName="suspendOperation"
                  >{{ 'setup.company.suspendOperation' | translate }}
                </mat-checkbox>
              </div>
            </mat-card-content>
            <mat-card-actions>
              <div
                fxLayoutAlign="end center"
                class="form-four-button-container"
              >
                <button
                  mat-raised-button
                  class="primary-button"
                  type="submit"
                  (click)="saveCompanyData()"
                >
                  <mat-icon>task_alt</mat-icon>
                </button>
                <button
                  mat-raised-button
                  class="red-button"
                  type="button"
                  (click)="deleteCompanyData()"
                >
                  <mat-icon>remove_circle_outline</mat-icon>
                </button>
                <button
                  mat-raised-button
                  class="green-button"
                  type="reset"
                  (click)="clearCompanyData()"
                >
                  <mat-icon>loop</mat-icon>
                </button>
              </div>
            </mat-card-actions>
          </mat-card>
        </form>
      </div>
      <div fxFlex="30%">
        <mat-card fxLayout="column" class="h-100">
          <div fxFlex fxLayoutAlign="center center">
            <div class="company-logo">
              <h2>{{ 'setup.company.companyLogo' | translate }}</h2>
              <img [src]="companyLogo" (click)="file.click()" />
              <input type="file" style="display: none" #file />
            </div>
          </div>
          <div fxFlex="120px" fxLayoutGap="5px" class="pt-1 top-border">
            <div fxFlex="49">
              <p>{{ 'general.license' | translate }}</p>
              <table class="site-table w-100">
                <thead>
                  <tr>
                    <th></th>
                    <th>{{ 'general.available' | translate }}</th>
                    <th>{{ 'general.used' | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ 'general.user' | translate }}</td>
                    <td>100</td>
                    <td>47</td>
                  </tr>
                  <tr>
                    <td>{{ 'general.warehouse' | translate }}</td>
                    <td>100</td>
                    <td>47</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div fxFlex="49">
              <form
                fxLayout="column"
                [formGroup]="dataCompanyForm"
                class="slim-form"
              >
                <mat-checkbox formControlName="licenseSubscriptionAlert">{{
                  'setup.company.licenseSubscriptionAlert' | translate
                }}</mat-checkbox>

                <div fxLayout="row" fxLayoutGap="2px" style="height: 40px">
                  <mat-form-field appearance="outline" fxFlex="70">
                    <mat-label>{{
                      'setup.company.licenseAlertLimit' | translate
                    }}</mat-label>
                    <input
                      matInput
                      type="text"
                      formControlName="licenseAlertLimit"
                    />
                  </mat-form-field>
                  <mat-form-field appearance="outline" fxFlex="29">
                    <mat-select
                      type="text"
                      formControlName="licenseAlertLimitType"
                    >
                      <mat-option value=""></mat-option>
                      <mat-option value="days">DAYS</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <mat-form-field
                  appearance="outline"
                  fxFlex="32"
                  style="margin-top: 0"
                >
                  <mat-label>{{ 'general.email' | translate }}</mat-label>
                  <input matInput type="text" formControlName="licenseEmail" />
                </mat-form-field>
              </form>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Search">
    <form
      fxLayout="column"
      [formGroup]="searchCompanyForm"
      (ngSubmit)="onSearchCompanySubmit()"
    >
      <mat-card>
        <mat-card-content>
          <div
            class="input-row"
            fxLayout="row"
            fxLayout.lt-md="column"
            fxLayoutGap="20px"
            fxLayoutGap.lt-md="0px"
          >
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'setup.company.companyCode' | translate
              }}</mat-label>
              <input matInput type="text" formControlName="companyCode" />
              <mat-error
                *ngIf="searchCompanyFormControls.companyCode.invalid"
                >{{ 'setup.company.invalidCompanyCode' | translate }}</mat-error
              >
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'setup.company.companyName' | translate
              }}</mat-label>
              <input matInput type="text" formControlName="companyName" />
              <mat-error
                *ngIf="searchCompanyFormControls.companyName.invalid"
                >{{ 'setup.company.invalidCompanyName' | translate }}</mat-error
              >
            </mat-form-field>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div fxLayoutAlign="end center" class="form-four-button-container">
            <button mat-raised-button class="primary-button" type="submit">
              <mat-icon>search</mat-icon>
            </button>
            <button
              mat-raised-button
              class="green-button"
              type="reset"
              (click)="clearSearch()"
            >
              <mat-icon>restart_alt</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </form>
    <mat-card class="mat-elevation-z10">
      <mat-card-content>
        <table
          mat-table
          [dataSource]="searchDataSource"
          class="mat-elevation-z8 search-table"
        >
          <!-- Code Column -->
          <ng-container matColumnDef="companyCode">
            <th mat-header-cell *matHeaderCellDef>Company Code</th>
            <td mat-cell *matCellDef="let element">
              <a href="#">
                {{ element.companyCode }}
              </a>
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="companyName">
            <th mat-header-cell *matHeaderCellDef>Company Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element.companyName }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <div *ngIf="searchDataSource.length === 0" class="empty-table">
          No records found
        </div>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
