@import '../../../../assets/scss/buttons.scss';

.search-table{
  width: 100%;
}
.mat-column-action {
  width: 50px;
}
.company-data{
  padding-bottom: 2px;
  padding-top: 5px;
}
.company-logo {
  text-align: center;
}
