@import '../../../../assets/scss/variables.scss';

.login-container {
  display: flex;
  width: 100%;
  height: 90%;
  > section {
    flex: 1;
  }
  .login-banner {
    background-image: url('../../../../assets/images/main-image.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    @include breakpoint(tablet) {
      display: none;
    }
  }
  .mobile-brand {
    img {
      padding-top: 30px;
      width: 150px;
      @include breakpoint(mobileonly) {
        height: 100px;
        width: auto;
      }
    }
  }
  .login-card {
    max-width: 500px;
    width: 80%;
    @include breakpoint(tablet) {
      max-width: 700px !important;
      width: 90% !important;
    }
    .login-form {
      mat-form-field {
        display: block;
        margin-bottom: 1rem;
      }
      .login-button-container {
        @include breakpoint(tablet) {
          width: 60% !important;
        }
        @include breakpoint(mobileonly) {
          text-align: center;
          width: 100% !important;
        }
        button {
          padding-left: 1rem;
          padding-right: 1rem;
          background-color: $site-primary;
          color: $site-white;
          @include breakpoint(tablet) {
            width: 50% !important;
          }
          @include breakpoint(mobileonly) {
            width: 90%;
          }
        }
        .login-button-container button .mat-icon {
          padding-right: 2rem;
        }
      }
    }
  }
}

.dvlogin {
  @include breakpoint(mobileonly) {
    display: block !important;
  }
  .forgot-password {
    color: $site-primary !important;
    font-size: 15px;
    @include breakpoint(mobileonly) {
      float: right;
      margin-top: 15px;
    }
  }
}
