.login-container {
  display: flex;
  width: 100%;
  height: 90%;
  > section {
    flex: 1;
  }
  .login-banner {
    background-image: url("../../../../assets/images/main-image.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .mobile-brand {
    img {
      padding-top: 30px;
      width: 150px;
    }
  }
  .login-card {
    max-width: 550px;
    width: 80%;
    .login-form {
      mat-form-field {
        display: block;
        margin-bottom: 1rem;
      }
      .login-button-container button {
        padding-left: 1rem;
        padding-right: 1rem;
        background-color: var(--site-blue);
        color: var(--site-white);
      }
      .login-button-container button .mat-icon {
        padding-right: 2rem;
      }
    }
  }
}
.dvlogin a {
  color: var(--site-blue) !important;
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .dvlogin {
    display: block !important;
    a {
      float: right;
      margin-top: 15px;
    }
  }
  .login-button-container {
    text-align: center;
    width: 100% !important;
    button {
      width: 90%;
    }
  }
}
@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  .login-banner {
    display: none;
  }
  .login-card {
    max-width: 700px !important;
    width: 90% !important;
  }
  .login-button-container {
    width: 60% !important;
    button {
      width: 50%;
    }
  }
}
