@import './variables.scss';
.link-button {
  font-size: 12px;
  line-height: 24px !important;
  &:hover {
    text-decoration: underline;
  }
}
.primary-button {
  color: $site-primary;
}
.red-button {
  color: $site-warn;
}
.green-button {
  color: $logo-green;
}
.primary-raised-button {
  background-color: $site-primary;
  color: $site-white;
}
.red-raised-button {
  background-color: $site-warn;
  color: $site-white;
}
.green-raised-button {
  background-color: $logo-green;
  color: $site-white;
}
