

.top-menu + * {
  .mat-menu-panel {
    a.mat-menu-item {
      transition: all 0.25s ease;
      transform: scale(0.9);
      &:hover,
      &.active-link {
        color: $site-white;
        background-color: $logo-blue;
        transform: scale(1);
      }
    }
  }
}

.side-nav {
  .mat-list-item-content {
    .mat-leaf-node {
      color: $mat-primary;
      &:hover,
      &.active-link {
        color: $site-white;
        background-color: $logo-blue;
      }
    }
  }
}
