@import "./variables.scss";

.search-container {
  padding: 5px 16px !important;
}
.search-table {
  width: 100%;
}
.data-form {
  padding-bottom: 2px;
  padding-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  .row {
    font-size: 15px;
  }
  .mat-form-field-subscript-wrapper {
    margin-top: 2px !important;
  }
}

.form-12px {
  font-size: 12px;
}
.slim-form {
  .mat-form-field-wrapper {
    .mat-form-field-label,
    .mat-form-field-outline,
    .mat-select-arrow {
      color: rgba($site-gray, 0.7);
    }
  }

  .mat-focused {
    .mat-form-field-label,
    .mat-form-field-outline-thick {
      color: rgba($site-primary, 0.7);
    }
  }
  input:not(.normal) {
    text-transform: uppercase;
  }
  .read-only-input {
    background-color: $site-lighter-gray;
    border: 1px solid $site-light-gray;
    border-radius: 5px;
    color: $site-gray;
    height: 44px;
    padding-left: 0 0 0 5px;
    margin: 0;
    margin-top: -6px;
    margin-bottom: 15px !important;
    legend {
      font-size: 10.5px;
      margin: 0;
      padding: 0 5px;
      @include breakpoint(mobileonly) {
        font-size: 9.5px;
      }
    }
  }
  .read-only-description {
    align-items: center;
    background-color: $site-lighter-gray;
    border: 1px solid $site-light-gray;
    border-radius: 5px;
    color: $site-gray;
    display: flex;
    height: 38px;
    padding-left: 5px 0 0 5px;
    margin: 4px 0;
    label {
      margin-left: 10px;
    }
  }
}

.slim-form
  mat-form-field.mat-form-field.mat-form-field-appearance-outline
  > div.mat-form-field-wrapper
  > div.mat-form-field-flex
  > div.mat-form-field-infix {
  padding: 0.4em 0px;
}

.slim-form
  mat-form-field.mat-form-field.mat-form-field-appearance-outline
  > div.mat-form-field-wrapper
  > div.mat-form-field-flex
  > div.mat-form-field-infix
  > span.mat-form-field-label-wrapper {
  top: -1.5em;
}

.slim-form {
  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(0.75);
    width: 133.33333%;
    padding-bottom: 2px;
  }
  .row {
    height: 55px;
    font-size: 15px;
  }
  mat-error {
    float: right;
    @include breakpoint(mobileonly) {
      font-size: 10px;
    }
  }
}
.cdk-overlay-container .cdk-overlay-pane {
  .slim-select-field {
    margin-top: 1.5rem;
    margin-left: 0.5rem;
  }
}
.slim-form mat-card mat-tab-group mat-card {
  padding: 5px 0;
  @include breakpoint(phablet) {
    padding: 5px;
  }
  @include breakpoint(mobileonly) {
    padding: 5px;
  }
}
.form-button-container {
  text-align: right;
  button {
    margin-left: 0.5rem;
    @include breakpoint(mobileonly) {
      width: 33%;
    }
  }
}

.form-three-button-container {
  text-align: right;
  button {
    margin-left: 0.5rem;
    @include breakpoint(mobileonly) {
      width: 25%;
    }
  }
}

.form-four-button-container {
  text-align: right;
  button {
    margin-left: 0.5rem;
    @include breakpoint(mobileonly) {
      width: 20%;
    }
  }
}

.form-button-container-fixed-bottom {
  bottom: 0;
  position: fixed;
  width: 100%;
}

.grid-three-button-container {
  text-align: right;
  .mat-raised-button {
    padding: 0 10px !important;
    min-width: 50px !important;
  }
  button {
    background-color: $logo-blue;
    color: $site-white;
    transform: scale(0.7);
    @include breakpoint(mobileonly) {
      width: 25%;
    }
  }
}

.smaller-button-container-40 {
  button {
    @include smaller-button(40px, 32px);
  }
}
.smaller-button-40 {
  @include smaller-button(40px, 32px);
}

.filter-container {
  padding-bottom: 0px !important;
  .input-row {
    mat-form-field {
      @include breakpoint(mobileonly) {
        margin-bottom: 0px !important;
      }
    }
  }
}
