@import './site-variables.scss';

.mat-header-cell{
    background-color: $mat-primary;
    color: var(--site-white);
    border-left: 1px solid $site-white;
    font-size: 15px;
    padding-left: 10px !important;
    @include breakpoint(mobileonly) {
      font-size: 15px;
    }
}
.mat-cell{
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    padding-left: 10px !important;
}
.empty-table {
  border: 1px solid $pale-border;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1px;
  padding: 7px 0;
  font-size: 16px;
}
tr.mat-header-row {
  height: 35px !important;
}

tr.mat-row {
  height: 30px !important;
}