@import './variables.scss';

.mat-header-cell {
  background-color: $site-primary;
  color: $site-white;
  border-left: 1px solid $site-white;
  font-size: 15px;
  padding-left: 10px !important;
  @include breakpoint(mobileonly) {
    font-size: 15px;
  }
}

.mat-cell {
  border-left: 1px solid $site-light-gray;
  border-right: 1px solid $site-light-gray;
  padding-left: 10px !important;
}
.empty-table {
  border: 1px solid $site-light-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1px;
  padding: 7px 0;
  font-size: 16px;
}
tr.mat-header-row {
  height: 28px !important;
}

tr.mat-row {
  height: 28px !important;
}
.site-table {
  border-collapse: collapse;
}
.site-table th,
.site-table td {
  padding-left: 0.25rem;
}
.site-table th {
  color: $site-white;
  background-color: $site-primary;
  border: 1px solid $site-white;
  font-weight: normal;
  text-align: left;
}
.site-table td {
  border: 1px solid $site-light-gray;
}
