.h-100 {
  height: 100%;
}
.w-100 {
  width: 100%;
}
.text-right {
  text-align: right !important;
}
.text-left {
  text-align: left !important;
}
.text-center {
  text-align: center !important;
}
.pb-1 {
  padding-bottom: 0.25rem;
}
.pl-1 {
  padding-left: 0.25rem;
}
.pr-1 {
  padding-right: 0.25rem;
}
.pt-1 {
  padding-top: 0.25rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mt-1 {
  margin-top: 0.25 rem;
}
.hover-underline-bottom {
  position: relative;
  text-decoration: none;
  display: inline-block;
  :after {
    display: block;
    content: '';
    border-bottom: solid 3px #000;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    transform-origin: 100% 50%;
  }
  :hover:after {
    transform: scaleX(1);
    transform-origin: 0 50%;
  }
}

.float-right-with-space
{
  float: right;
  margin-right: 5px;
}