mat-drawer {
  min-width: 700px;
  @media only screen and (max-width: 600px) {
    min-width: 75vw;
  }
}

.transactions-receipt-form {
  width: 100%;
  .card-actions {
    @media only screen and (max-width: 600px) {
      button {
        margin-bottom: 5px;
        margin-left: 0px;
        display: block;
        width: 100%;
      }
    }
  }
}
.transactions-receipt-details-card {
  margin-top: 2px;
  table {
    margin: 5px 0 10px;
    width: 100%;
  }
  .button-left-container {
    button {
      margin-right: .25rem;
    }
  }
  .button-right-container {
    button {
      margin-left: .25rem;
    }
  }
}

.list-functions{
  margin-top: 15px;
}
