.text-center {
    text-align: center !important;
}

.page-content{
    margin-top: 50px;
}

.radio-content{
    width: 200px;
    margin-left: 50px;
    margin-top: 6px;
}

.radio-button{
 text-align: right;
}