<div class="page-title">
  <h2>{{ 'menu.scansDoubleScan' | translate }}</h2>
</div>

<div class="mt-sm" [ngSwitch]="scanType">
  <ng-container *ngSwitchDefault>
    <form fxLayout="column" class="slim-form">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex.gt-sm="40%" fxFlex.lt-sm="100%">
          <section class="bordered-section">
            <div fxLayout="row">
              <div fxFlex fxLayoutAlign="left"></div>
              <div fxFlex fxLayoutAlign="center">
                <h4><b>Double Scan</b></h4>
              </div>
              <div fxFlex fxLayoutAlign="end"></div>
            </div>

            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5px">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>{{
                  'scans.doubleScan.warehouse' | translate
                  }}</mat-label>
                <input matInput type="text" required />
                <mat-icon matSuffix type="button">search</mat-icon>
              </mat-form-field>
            </div>
            <section class="scan-buttons">
              <button mat-raised-button (click)="changeScanType('putaway')" class="scan-button putaway" matBadge="10"
                matBadgeSize="medium" matBadgeColor="warn">
                <mat-icon>read_more</mat-icon>
              </button>
              <button mat-raised-button (click)="changeScanType('pickup')" class="scan-button pickup" matBadge="10"
                matBadgeSize="medium" matBadgeColor="warn">
                <mat-icon>qr_code_scanner</mat-icon>
              </button>
              <button mat-raised-button (click)="changeScanType('direct')" class="scan-button direct">
                <mat-icon>double_arrow</mat-icon>
              </button>
              <button mat-raised-button (click)="changeScanType('inventory')" class="scan-button inventory"
                matBadge="10" matBadgeSize="medium" matBadgeColor="warn">
                <mat-icon>checklist</mat-icon>
              </button>
              <button mat-raised-button (click)="changeScanType('transfer')" class="scan-button transfer">
                <mat-icon>transfer_within_a_station</mat-icon>
              </button>
            </section>
          </section>
        </div>
      </div>
    </form>
  </ng-container>

  <ng-container *ngSwitchCase="'putaway'">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex.gt-sm="40%" fxFlex.lt-sm="100%">
        <section class="bordered-section">
          <div fxLayout="row">
            <div fxFlex fxLayoutAlign="left">
              <div class="form-three-button-container smaller-button-container-40">
                <button type="button" (click)="changeScanType('')" mat-raised-button color="primary">
                  <mat-icon>arrow_back</mat-icon>
                </button>
              </div>
            </div>
            <div fxFlex fxLayoutAlign="center">
              <h4>{{ 'scans.doubleScan.putaway' | translate }}</h4>
            </div>
            <div fxFlex fxLayoutAlign="end"></div>
          </div>
          <ibe-ds-putaway></ibe-ds-putaway>
        </section>
      </div>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'pickup'">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex.gt-sm="40%" fxFlex.lt-sm="100%">
        <section class="bordered-section">
          <div fxLayout="row">
            <div fxFlex fxLayoutAlign="left">
              <div class="form-three-button-container smaller-button-container-40">
                <button type="button" (click)="changeScanType('')" mat-raised-button color="primary">
                  <mat-icon>arrow_back</mat-icon>
                </button>
              </div>
            </div>
            <div fxFlex fxLayoutAlign="center">
              <h4>{{ 'scans.doubleScan.pick' | translate }}</h4>
            </div>
            <div fxFlex fxLayoutAlign="end"></div>
          </div>
          <ibe-ds-pick></ibe-ds-pick>
        </section>
      </div>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'direct'">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex.gt-sm="40%" fxFlex.lt-sm="100%">
        <section class="bordered-section">
          <div fxLayout="row">
            <div fxFlex fxLayoutAlign="left">
              <div class="form-three-button-container smaller-button-container-40">
                <button type="button" (click)="changeScanType('')" mat-raised-button color="primary">
                  <mat-icon>arrow_back</mat-icon>
                </button>
              </div>
            </div>
            <div fxFlex fxLayoutAlign="center">
              <h4>{{ 'scans.doubleScan.direct' | translate }}</h4>
            </div>
            <div fxFlex fxLayoutAlign="end"></div>
          </div>
          <ibe-ds-direct-putaway></ibe-ds-direct-putaway>
        </section>
      </div>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'inventory'">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex.gt-sm="40%" fxFlex.lt-sm="100%">
        <section class="bordered-section">
          <div fxLayout="row">
            <div fxFlex fxLayoutAlign="left">
              <div class="form-three-button-container smaller-button-container-40">
                <button type="button" (click)="changeScanType('')" mat-raised-button color="primary">
                  <mat-icon>arrow_back</mat-icon>
                </button>
              </div>
            </div>
            <div fxFlex fxLayoutAlign="center">
              <h4>{{ 'scans.doubleScan.inventory' | translate }}</h4>
            </div>
            <div fxFlex fxLayoutAlign="end"></div>
          </div>
          <ibe-ds-inventory-audit></ibe-ds-inventory-audit>
        </section>
      </div>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'transfer'">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex.gt-sm="40%" fxFlex.lt-sm="100%">
        <section class="bordered-section">
          <div fxLayout="row">
            <div fxFlex fxLayoutAlign="left">
              <div class="form-three-button-container smaller-button-container-40">
                <button type="button" (click)="changeScanType('')" mat-raised-button color="primary">
                  <mat-icon>arrow_back</mat-icon>
                </button>
              </div>
            </div>
            <div fxFlex fxLayoutAlign="center">
              <h4>{{ 'scans.doubleScan.transfer' | translate }}</h4>
            </div>
            <div fxFlex fxLayoutAlign="end"></div>
          </div>
          <ibe-ds-direct-transfer></ibe-ds-direct-transfer>
        </section>
      </div>
    </div>
  </ng-container>

</div>