<div class="page-title">
  <h2>{{ 'menu.scansDoubleScan' | translate }}</h2>
</div>

<div class="mt-sm" [ngSwitch]="clickType">
  <ng-container *ngSwitchDefault>
    <form fxLayout="column" class="slim-form">
      <div fxLayout="row" fxLayoutAlign="center center">
        <div fxFlex.gt-sm="40%" fxFlex.lt-sm="100%">
          <section class="bordered-section">
            <div fxLayout="row">
              <div fxFlex fxLayoutAlign="left"></div>
              <div fxFlex fxLayoutAlign="center">
                <h4><b>Double Scan</b></h4>
              </div>
              <div fxFlex fxLayoutAlign="end"></div>
            </div>

            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5px">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>{{
                  'scans.doubleScan.warehouse' | translate
                  }}</mat-label>
                <input matInput type="text" required />
                <mat-icon matSuffix type="button">search</mat-icon>
              </mat-form-field>
            </div>

            <div>
              <div (click)="clickType = 'putAway'" class="image-box" fxFlex fxLayoutAlign="center">
                <div class="content image-container" style="background-color: #fb6e0e">
                  <mat-icon>read_more</mat-icon>
                </div>
                <button matBadge class="badge" color="warn" mat-mini-fab>
                  10
                </button>
              </div>
              <div (click)="clickType = 'pick'" class="image-box" fxFlex fxLayoutAlign="center">
                <div class="content image-container" style="background-color: #097e48">
                  <mat-icon>qr_code_scanner</mat-icon>
                </div>
                <button matBadge class="badge" color="warn" mat-mini-fab>
                  10
                </button>
              </div>
              <div (click)="clickType = 'direct'" class="image-box" fxFlex fxLayoutAlign="center">
                <div class="content image-container" style="background-color: #615cdc">
                  <mat-icon>double_arrow</mat-icon>
                </div>
              </div>
            </div>

            <div>
              <div (click)="clickType = 'inventory'" class="image-box" fxFlex fxLayoutAlign="center">
                <div class="content image-container" style="background-color: #40505d">
                  <mat-icon>checklist</mat-icon>
                </div>
                <button matBadge class="badge" color="warn" mat-mini-fab>
                  10
                </button>
              </div>
              <div (click)="clickType = 'transfer'" class="image-box" fxFlex fxLayoutAlign="center">
                <div class="content image-container" style="background-color: #826a6a">
                  <mat-icon>transfer_within_a_station</mat-icon>
                </div>

                <button matBadge class="badge hide" color="warning" mat-mini-fab>
                  10
                </button>
              </div>
              <div class="image-box" fxFlex fxLayoutAlign="center">
              </div>
            </div>
          </section>
        </div>
      </div>
    </form>
  </ng-container>

  <ng-container *ngSwitchCase="'putAway'">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex.gt-sm="40%" fxFlex.lt-sm="100%">
        <section class="bordered-section">
          <div fxLayout="row">
            <div fxFlex fxLayoutAlign="left">
              <div class="form-three-button-container smaller-button-container-40">
                <button type="button" (click)="clickType = ''" mat-raised-button color="primary">
                  <mat-icon>arrow_back</mat-icon>
                </button>
              </div>
            </div>
            <div fxFlex fxLayoutAlign="center">
              <h4>{{ 'scans.doubleScan.putaway' | translate }}</h4>
            </div>
            <div fxFlex fxLayoutAlign="end"></div>
          </div>
          <ibe-ds-putaway></ibe-ds-putaway>
        </section>
      </div>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'pick'">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex.gt-sm="40%" fxFlex.lt-sm="100%">
        <section class="bordered-section">
          <div fxLayout="row">
            <div fxFlex fxLayoutAlign="left">
              <div class="form-three-button-container smaller-button-container-40">
                <button type="button" (click)="clickType = ''" mat-raised-button color="primary">
                  <mat-icon>arrow_back</mat-icon>
                </button>
              </div>
            </div>
            <div fxFlex fxLayoutAlign="center">
              <h4>{{ 'scans.doubleScan.pick' | translate }}</h4>
            </div>
            <div fxFlex fxLayoutAlign="end"></div>
          </div>
          <ibe-ds-pick></ibe-ds-pick>
        </section>
      </div>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'direct'">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex.gt-sm="40%" fxFlex.lt-sm="100%">
        <section class="bordered-section">
          <div fxLayout="row">
            <div fxFlex fxLayoutAlign="left">
              <div class="form-three-button-container smaller-button-container-40">
                <button type="button" (click)="clickType = ''" mat-raised-button color="primary">
                  <mat-icon>arrow_back</mat-icon>
                </button>
              </div>
            </div>
            <div fxFlex fxLayoutAlign="center">
              <h4>{{ 'scans.doubleScan.direct' | translate }}</h4>
            </div>
            <div fxFlex fxLayoutAlign="end"></div>
          </div>
          <ibe-ds-direct-putaway></ibe-ds-direct-putaway>
        </section>
      </div>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'inventory'">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex.gt-sm="40%" fxFlex.lt-sm="100%">
        <section class="bordered-section">
          <div fxLayout="row">
            <div fxFlex fxLayoutAlign="left">
              <div class="form-three-button-container smaller-button-container-40">
                <button type="button" (click)="clickType = ''" mat-raised-button color="primary">
                  <mat-icon>arrow_back</mat-icon>
                </button>
              </div>
            </div>
            <div fxFlex fxLayoutAlign="center">
              <h4>{{ 'scans.doubleScan.inventory' | translate }}</h4>
            </div>
            <div fxFlex fxLayoutAlign="end"></div>
          </div>
          <ibe-ds-inventory-audit></ibe-ds-inventory-audit>
        </section>
      </div>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'transfer'">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex.gt-sm="40%" fxFlex.lt-sm="100%">
        <section class="bordered-section">
          <div fxLayout="row">
            <div fxFlex fxLayoutAlign="left">
              <div class="form-three-button-container smaller-button-container-40">
                <button type="button" (click)="clickType = ''" mat-raised-button color="primary">
                  <mat-icon>arrow_back</mat-icon>
                </button>
              </div>
            </div>
            <div fxFlex fxLayoutAlign="center">
              <h4>{{ 'scans.doubleScan.transfer' | translate }}</h4>
            </div>
            <div fxFlex fxLayoutAlign="end"></div>
          </div>
          <ibe-ds-direct-transfer></ibe-ds-direct-transfer>
        </section>
      </div>
    </div>
  </ng-container>

</div>