.image-box {
    margin-bottom: 10px;
}

.content {
    align-items:center;
    display: flex;
    justify-content: center;
}

.image-container {
    height: 39px;
    padding: 33px 3px;
    border-radius: 30%;
    width: 50%;
}