@import '../../../../assets/scss/variables.scss';

.scan-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  place-items: center;
}

.scan-button {
  border-radius: 30px;
  height: 89px;
  padding: 24px;
  width: 92px;
  .mat-icon {
    color: #fff;
    font-size: 3.313rem;
    margin-left: -31px;
    margin-top: -32px;
  }
}

.scan-button.putaway {
  background: #fb6e0e;
}
.scan-button.pickup {
  background: #097e48;
}
.scan-button.direct {
  background: #615cdc;
}
.scan-button.inventory {
  background: #40505d;
}
.scan-button.transfer {
  background: #826a6a;
}

.bordered-section {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px;
}

// :host {
  .mat-badge-medium.mat-badge-above .mat-badge-content {
    top: -7px !important;
  }
// }