<mat-toolbar color="primary" class="app-navbar mat-elevation-z6">
  <div class="app-brand">
    <a [routerLink]="['/auth']">
      <img src="../../../../assets/images/full-logo.png" class="app-logo">
      <!-- <img src="../../../../assets/images/istorepro-logo.jpg" class="app-logo">
      <img src="../../../../assets/images/be-logo.png" class="app-logo"> -->
    </a>
  </div>
  <span class="spacer"></span>
  <a [routerLink]="['/auth/login/jp']" class="lang-link">日本語</a>
  <a [routerLink]="['/auth/login/en']" class="lang-link">English</a>
</mat-toolbar>
<main class="main" [@routeAnimations]="prepareRoute(outlet)">
  <router-outlet #outlet="outlet"></router-outlet>
</main>
<div class="footer">
  <img src="../../../../assets/images/gemini-logo-white.png" />
  <span>&copy; {{ copyrightYearDisplay }}. {{ 'general.copyright' | translate }}</span>
</div>
<div class="app-version">{{ appVersion }}</div>
<small class="app-timestamp">{{ appTimeStamp }}</small>
<small class="app-screen-resolution">{{ appScreenResolution }}</small>

<ibe-loading></ibe-loading>
