<mat-toolbar color="primary" class="app-navbar mat-elevation-z6">
  <div class="app-brand">
    <a [routerLink]="['/auth']">
      <img src="../../../../assets/images/istorepro-logo.png" id="left" class="app-logo">
      <div class="vl-blue" id="center"></div>
      <img src="../../../../assets/images/be-logo.png" id="right" class="app-logo">
    </a>
  </div>
  <span class="spacer"></span>
  <a [routerLink]="['/auth/login/jp']" class="lang-link">日本語</a>
  <a [routerLink]="['/auth/login/en']" class="lang-link">English</a>
</mat-toolbar>
<main class="main">
  <router-outlet></router-outlet>
</main>
<div class="footer">
    <img src="../../../../assets/images/gemini-logo-white.png" />
    <span>&copy; 2021. {{ 'general.copyright' | translate }}</span>
</div>
