<form fxLayout="column" [formGroup]="LoginAuditForm" class="slim-form">
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="stretch" fxLayoutGap="5px" class="data-form">
    <div fxFlex>
      <mat-card class="h-100">
        <mat-card-content>
            <div fxLayoutGap="15px">
                <div fxLayout="column" fxLayoutGap="15px" fxFlex="60">
                    <div fxLayout="row" fxLayoutGap="10px" fxFlex>
                      <mat-form-field appearance="outline" fxFlex="70" fxFlex.lt-sm="60" fxFlex.lt-sm="50">
                        <mat-label>{{'settings.loginaudit.loginname' | translate}}</mat-label>
                        <input matInput type="text" required formControlName="loginname" />
                        <mat-error *ngIf="LoginAuditFormControls.loginname.invalid">
                          {{ 'error.field' | translate }}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline" fxFlex="70" fxFlex.lt-sm="60" fxFlex.lt-sm="50">
                        <mat-label>{{'settings.loginaudit.ip' | translate}}</mat-label>
                        <input matInput type="text" required formControlName="ip" />
                        <mat-error *ngIf="LoginAuditFormControls.ip.invalid">
                          {{ 'error.field' | translate }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="10px" fxFlex>
                      <mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-sm="40" fxFlex.lt-sm="48.5">
                        <mat-label>{{ 'settings.loginaudit.datefrom' | translate }}</mat-label>
                        <input formControlName="datefrom" matInput [matDatepicker]="picker1">
                        <mat-datepicker-toggle matSuffix [for]="picker1">
                          <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        <mat-error *ngIf="LoginAuditFormControls.datefrom.invalid">
                          {{ 'error.field' | translate }}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-sm="40" fxFlex.lt-sm="48.5">
                        <mat-label>{{ 'settings.loginaudit.dateto' | translate }}</mat-label>
                        <input formControlName="dateto" matInput [matDatepicker]="picker2">
                        <mat-datepicker-toggle matSuffix [for]="picker2">
                          <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                        <mat-error *ngIf="LoginAuditFormControls.dateto.invalid">
                          {{ 'error.field' | translate }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="pale-border-box" fxLayout="column" fxLayoutGap="10px" fxFlex="40">
                    <p><b>{{ 'settings.loginaudit.options' | translate }}</b></p>
                    <mat-checkbox formControlName="success" fxFlex class="example-margin">
                      {{'settings.loginaudit.success' | translate}}</mat-checkbox>
                    <mat-checkbox formControlName="failure" fxFlex class="example-margin">
                      {{'settings.loginaudit.failure' | translate}}</mat-checkbox>

                  </div>

            </div>

        </mat-card-content>
      </mat-card>
    </div>

  </div>
  <ng-container>

    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="stretch" fxLayoutGap="5px" class="data-form">
      <div fxFlex>
        <mat-card class="h-100">
          <mat-card-content>
            <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutGap="5px">

              <h3 fxFlex="90%"> Drag a column header here to group by that column</h3>

              <div fxFlex="10%" class="form-three-button-container">
                <button mat-raised-button color="warn">
                  <mat-icon>loop</mat-icon>
                </button>
              </div>

            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <mat-card>
      <mat-card-content class="overflow-x">
        <table class="site-table w-100 mat-elevation-z8">
          <thead>
            <tr>
              <th>{{ 'settings.loginaudit.loginname' | translate}}</th>
              <th>{{ 'settings.loginaudit.logindate' | translate}}</th>
              <th>{{ 'settings.loginaudit.logintime' | translate}}</th>
              <th>{{ 'settings.loginaudit.logoutdate' | translate}}</th>
              <th>{{ 'settings.loginaudit.logouttime' | translate}}</th>
              <th>{{ 'settings.loginaudit.duration' | translate}}</th>
              <th>{{ 'settings.loginaudit.ip' | translate}}</th>
              <th>{{ 'settings.loginaudit.status' | translate}}</th>
              <th>{{ 'settings.loginaudit.reason' | translate}}</th>
              <th>{{ 'settings.loginaudit.source' | translate}}</th>
            </tr>
          </thead>
        </table>
      </mat-card-content>
    </mat-card>
  </ng-container>

  <mat-card>
    <mat-card-content>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="30px" fxLayoutAlign="space-between center">
        <div fxFlexOrder.lt-md="2">
          <ibe-data-audit insertedBy=""></ibe-data-audit>
        </div>
        <div class="form-three-button-container" fxFlexOrder.lt-md="1">
          <button mat-raised-button color="primary" type="submit" (click)="saveLoginAuditFormData()">
            <mat-icon>task_alt</mat-icon>
          </button>
          <button mat-raised-button color="accent" type="reset" (click)="resetLoginAuditForm()">
            <mat-icon>loop</mat-icon>
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>



</form>
