@import '../../../../../../assets/scss/variables.scss';
.form-import {
  margin-top: 0.5rem;
}
.mat-column-action {
  width: 50px;
}
.company-logo {
  img {
    cursor: pointer;
    border: 1px solid $site-light-gray;
    padding: 0.25rem;
    &:hover {
      border-color: $site-black;
    }
  }
}

.border-none {
  border: none !important;
}

th,
td {
  height: 2px;
}

.site-table td {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.input-ic-padding {
  padding-left: 25px;
}

.input-ic-padding-b {
  padding-left: 17px;
}

select {
  height: 22px;
}

.store-dialog-search {
  margin: 10px;
  height: 36px;
  padding: 0px !important;
}

// .wh-control-table {
//   margin-top: 50px;
// }

.inventory-alert-table,
.matrix-table {
  table {
    margin-bottom: 10px;
    padding-top: 10px;
  }
}

.input-group {
  padding-top: 6px;
}

.input-group-title {
  min-width: 83px;
}

.modal-button {
  margin-top: 0px;
  text-align: right;
  button {
    transform: scale(0.7);
  }
}
.modal-button-bottom {
  margin-top: 10px;
  text-align: right;
  button {
    transform: scale(0.7);
  }
}
button[mat-dialog-close] {
  transform: scale(0.7);
}

.overflow-x {
  overflow-x: auto !important;
}

.lookup-column {
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0em;
  }
  mat-form-field {
    display: block;
    padding: 0;
    margin: 0;
  }
}

.form-three-button-container {
  float: right !important;
}
