@import '../../../../assets/scss/variables.scss';
// .overflow-x {
//   overflow-x: auto !important;
// }

// .data-table {
//   table {
//     margin-bottom: 10px;
//     padding-top: 10px;
//   }
// }

// .text-right {
//   text-align: right;
// }

.input-container {
  display: flex;
  mat-icon {
    cursor: pointer;
  }
}
.second-column-readonly {
  @include breakpoint(mobileonly) {
    margin-bottom: 5px;
    margin-top: -5px;
  }
}
.second-column {
  @include breakpoint(mobileonly) {
    margin-top: -5px;
  }
}
// .text-button {
//   transform: scale(0.7);
// }

// .data-form {
//   mat-card {
//     mat-card-content {
//       margin-bottom: 0px !important;
//     }
//   }
//   mat-form-field {
//     ::ng-deep .mat-form-field-wrapper {
//       @include breakpoint(mobileonly) {
//         padding-bottom: 0em !important;
//       }
//     }
//   }
// }

// .read-only-input {
//   @include breakpoint(mobileonly) {
//     margin-bottom: 10px !important;
//   }
// }

.grid-content{
  padding-top: 5px !important;
}

.filter-content{
  padding-bottom: 5px !important;
}

::ng-deep .mat-form-field-subscript-wrapper {
  margin-top: 2px !important;
}