<div class="page-title">
  <h2>{{'menu.operationsReceipt' | translate}}</h2>
</div>
<mat-tab-group #OperationReceiptTab>
  <mat-tab label="Data">
    <form fxLayout="column" [formGroup]="dataReceiptForm" (ngSubmit)="onDataReceiptSubmit()" class="slim-form">
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="stretch" fxLayoutGap="5px" class="data-form">
        <div fxFlex>
          <mat-card class="h-100">
            <mat-card-content>
              <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutGap="5px">
                <mat-form-field appearance="outline" fxFlex>
                  <mat-label>{{'operations.receipt.warehouse' | translate}}</mat-label>
                  <input matInput type="text" required formControlName="warehouse" />
                  <mat-error *ngIf="dataReceiptFormControls.warehouse.invalid">
                    {{ 'error.field' | translate }}
                  </mat-error>
                </mat-form-field>
                <div fxFlex>
                  <fieldset class="read-only-input">
                    <legend>{{ 'operations.receipt.trn' | translate }}</legend>
                    <label>{{ dataReceiptFormControls.trn.value }}</label>
                  </fieldset>
                </div>

                <div fxFlex>
                  <fieldset class="read-only-input">
                    <legend>{{ 'operations.receipt.grn' | translate }}</legend>
                    <label>{{ dataReceiptFormControls.grn.value }}</label>
                  </fieldset>
                </div>

                <mat-form-field appearance="outline">
                  <mat-label>{{ 'operations.receipt.receiptDate' | translate }}</mat-label>
                  <input formControlName="receiptDate" matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker">
                    <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                  </mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                  <mat-error *ngIf="dataReceiptFormControls.receiptDate.invalid">
                    {{ 'error.field' | translate }}
                  </mat-error>
                </mat-form-field>

              </div>
              <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutGap="5px">
                <mat-form-field appearance="outline" fxFlex.gt-sm="30">
                  <mat-label>{{'operations.receipt.owner' | translate}}</mat-label>
                  <input matInput type="text" required formControlName="owner" />
                  <mat-icon matSuffix>search</mat-icon>
                  <mat-error *ngIf="dataReceiptFormControls.owner.invalid">
                    {{ 'error.field' | translate }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex.gt-sm="20">
                  <mat-label>{{'operations.receipt.po' | translate}}</mat-label>
                  <input matInput type="text" required formControlName="po" />
                  <mat-icon matSuffix>search</mat-icon>
                  <mat-error *ngIf="dataReceiptFormControls.po.invalid">
                    {{ 'error.field' | translate }}
                  </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" fxFlex.gt-sm="20">
                  <mat-label>{{'operations.receipt.remarks' | translate}}</mat-label>
                  <input matInput type="text" required formControlName="remarks" />
                  <mat-error *ngIf="dataReceiptFormControls.remarks.invalid">
                    {{ 'error.field' | translate }}
                  </mat-error>
                </mat-form-field>
                <div fxFlex>
                  <fieldset class="read-only-input">
                    <legend>{{ 'operations.receipt.storageLabel' | translate }}</legend>
                    <label>{{ dataReceiptFormControls.storageLabel.value }}</label>
                  </fieldset>
                </div>

              </div>

            </mat-card-content>
            <div class="form-three-button-container" fxFlexOrder.lt-md="1">
              <button mat-raised-button color="primary">
                <mat-icon>task_alt</mat-icon>
                <span>Put away</span>
              </button>
              <button mat-raised-button color="primary">
                <mat-icon>task_alt</mat-icon>
                <span>Label</span>
              </button>
              <button mat-raised-button color="primary">
                <mat-icon>task_alt</mat-icon>
                <span>GRN/R</span>
              </button>
            </div>
          </mat-card>
        </div>

      </div>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="stretch" fxLayoutGap="5px" class="data-form">
        <div fxFlex>
          <mat-card class="h-100 data-table overflow-x">
            <mat-card-content>
              
              <div class="form-three-button-container">
                <button mat-raised-button color="primary">
                  <mat-icon>cloud_upload</mat-icon>
                </button>
                <button mat-raised-button color="primary">
                  <mat-icon>cloud_download</mat-icon>
                </button>
              </div>

              <br>
              <table class="site-table w-100 mat-elevation-z8">
                <thead>
                  <tr>
                    <th>{{ 'operations.receipt.item' | translate}}</th>
                    <th>{{ 'operations.receipt.description' | translate}}</th>
                    <th>{{ 'operations.receipt.ru' | translate}}</th>
                    <th>{{ 'operations.receipt.sku' | translate}}</th>
                    <th>{{ 'operations.receipt.qtyexp' | translate}}</th>
                    <th>{{ 'operations.receipt.qtygood' | translate}}</th>
                    <th>{{ 'operations.receipt.qtydmg' | translate}}</th>
                    <th>{{ 'operations.receipt.netwt' | translate}}</th>
                    <th>{{ 'operations.receipt.netvol' | translate}}</th>
                    <th>{{ 'operations.receipt.mfgDate' | translate}}</th>
                    <th>{{ 'operations.receipt.expDate' | translate}}</th>
                    <th>{{ 'operations.receipt.batchNo' | translate}}</th>
                    <th>{{ 'operations.receipt.remarks' | translate}}</th>
                    <th style="text-align: center;">
                      <mat-icon style="padding-top: 3px;">add_circle_outline</mat-icon>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <ng-template let-operator ngFor [ngForOf]="receiptDataSource">
                    <tr>
                      <td>
                        <input type="text" class="w-100">
                      </td>
                      <td>
                        <input disabled type="text" class="w-100">
                      </td>
                      <td>
                        <button mat-mini-fab color="primary" class="mdb-30">
                          <span>RU</span>
                        </button>
                      </td>
                      <td>
                        <input disabled type="text" class="w-100">
                      </td>
                      <td>
                        <input type="number" size="50" class="w-100">
                      </td>
                      <td>
                        <input type="number" class="w-100">
                      </td>
                      <td>
                        <input type="number" class="w-100">
                      </td>
                      <td class="text-right">
                        <button mat-mini-fab color="primary" class="mdb-30">
                          <span>w</span>
                        </button>
                      </td>
                      <td class="text-right">
                        <button mat-mini-fab color="primary" class="mdb-30">
                          <span>v</span>
                        </button>
                      </td>
                      <td class="column-150">
                        <input type="date" class="w-100">
                      </td>
                      <td class="column-150">
                        <input type="date" class="w-100">
                      </td>
                      <td>
                        <input type="number" class="w-100">
                      </td>
                      <td>
                        <input type="number" class="w-100">
                      </td>
                      <td class="two-button-column">
                        <button mat-mini-fab color="primary" class="mdb-30">
                          <mat-icon>edit</mat-icon>
                        </button>
                        <button mat-mini-fab color="warn" class="mdb-30">
                          <mat-icon>remove</mat-icon>
                        </button>
                      </td>
                    </tr>
                  </ng-template>
                </tbody>
              </table>

            </mat-card-content>

          </mat-card>
        </div>

      </div>
      <mat-card>
        <mat-card-content>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="30px" fxLayoutAlign="space-between center">
            <div fxFlexOrder.lt-md="2">
              <ibe-data-audit insertedBy=""></ibe-data-audit>
            </div>
            <div class="form-three-button-container" fxFlexOrder.lt-md="1">
              <button mat-raised-button color="primary" type="submit" (click)="saveReceiptData()">
                <mat-icon>task_alt</mat-icon>
              </button>
              <button mat-raised-button color="warn" type="button" (click)="deleteReceiptData()">
                <mat-icon>remove_circle_outline</mat-icon>
              </button>
              <button mat-raised-button color="accent" type="reset" (click)="resetReceiptDataForm()">
                <mat-icon>loop</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </mat-tab>
  <mat-tab label="Search">
    <form fxLayout="column" [formGroup]="searchReceiptForm" (ngSubmit)="onSearchReceiptSubmit()" class="slim-form">
      <mat-card class="filter-container ">
        <mat-card-content>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'operations.receipt.warehouse' | translate
                }}</mat-label>
              <input matInput type="text" formControlName="warehouse" />
              <mat-error *ngIf="searchReceiptFormControls.warehouse.invalid">
                {{ 'error.field' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'operations.receipt.owner' | translate
                }}</mat-label>
              <input matInput type="text" formControlName="owner" />
              <mat-error *ngIf="searchReceiptFormControls.owner.invalid">
                {{ 'error.field' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'operations.receipt.grn' | translate
                }}</mat-label>
              <input matInput type="text" formControlName="grn" />
              <mat-error *ngIf="searchReceiptFormControls.grn.invalid">
                {{ 'error.field' | translate }}</mat-error>
            </mat-form-field>
          </div>
          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px">
            <mat-form-field appearance="outline" fxFlex fxFlex.lt-md="34" fxFlex fxFlex.lt-sm="33">
              <mat-label>{{
                'operations.receipt.receiptDate' | translate
                }}</mat-label>
              <mat-select disableOptionCentering panelClass="slim-select-field" formControlName="dateoperator">
                <mat-option value=""></mat-option>
              </mat-select>
              <mat-error *ngIf="searchReceiptFormControls.dateoperator.invalid">{{
                'error.field' | translate
                }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
              <input matInput type="date" formControlName="receiptDate" />
              <mat-error *ngIf="searchReceiptFormControls.receiptDate.invalid">
                {{ 'error.field' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'operations.receipt.po' | translate
                }}</mat-label>
              <input matInput type="text" formControlName="po" />
              <mat-error *ngIf="searchReceiptFormControls.po.invalid">
                {{ 'error.field' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'operations.receipt.item' | translate
                }}</mat-label>
              <input matInput type="text" formControlName="item" />
              <mat-error *ngIf="searchReceiptFormControls.item.invalid">
                {{ 'error.field' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex fxFlex.lt-md="34" fxFlex fxFlex.lt-sm="33">
              <mat-label>{{
                'operations.receipt.status' | translate
                }}</mat-label>
              <mat-select disableOptionCentering panelClass="slim-select-field" formControlName="status">
                <mat-option value=""></mat-option>
              </mat-select>
              <mat-error *ngIf="searchReceiptFormControls.status.invalid">{{
                'error.field' | translate
                }}</mat-error>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
      <mat-card class="search-container">
        <mat-card-content>
          <div class="form-button-container">
            <button mat-raised-button color="primary" type="submit">
              <mat-icon>search</mat-icon>
            </button>
            <button mat-raised-button color="accent" type="reset" (click)="resetReceiptSearchForm()">
              <mat-icon>restart_alt</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
    <mat-card class="mat-elevation-z10 overflow-x">
      <mat-card-content>
        <table mat-table [dataSource]="searchDataSource" class="mat-elevation-z8 search-table">
          <ng-container matColumnDef="warehouse">
            <th mat-header-cell *matHeaderCellDef>{{ 'operations.receipt.warehouse' | translate}}</th>
            <td mat-cell *matCellDef="let element;">
              {{ element.warehouse }}
            </td>
          </ng-container>
          <ng-container matColumnDef="owner">
            <th mat-header-cell *matHeaderCellDef>{{ 'operations.receipt.owner' | translate}}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.owner }}
            </td>
          </ng-container>
          <ng-container matColumnDef="grn">
            <th mat-header-cell *matHeaderCellDef>{{ 'operations.receipt.grn' | translate}}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.grn }}
            </td>
          </ng-container>
          <ng-container matColumnDef="receiptDate">
            <th mat-header-cell *matHeaderCellDef>{{ 'operations.receipt.receiptDate' | translate}}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.receiptDate }}
            </td>
          </ng-container>
          <ng-container matColumnDef="po">
            <th mat-header-cell *matHeaderCellDef>{{ 'operations.receipt.po' | translate}}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.po }}
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>{{ 'operations.receipt.status' | translate}}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.status }}
            </td>
          </ng-container>
          <ng-container matColumnDef="remarks">
            <th mat-header-cell *matHeaderCellDef>{{ 'operations.receipt.remarks' | translate}}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.remarks }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <small *ngIf="searchDataSource.length === 0" class="empty-table">
          No records found
        </small>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>