<form [formGroup]="ConsistencyForm" class="slim-form">
  <div class="bordered-section">
    <p><b>{{'settings.consistencycheck.options' | translate}}</b></p>
    <section class="pale-border-box">
      <div fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="60">
        <mat-checkbox formControlName="stock" color="primary" fxFlex class="example-margin">{{'settings.consistencycheck.stock' |
          translate}}</mat-checkbox>
        <mat-checkbox formControlName="item" color="primary" fxFlex class="example-margin">{{'settings.consistencycheck.item' |
          translate}}</mat-checkbox>
        <mat-checkbox formControlName="deliverycancel" color="primary" fxFlex class="example-margin">
          {{'settings.consistencycheck.deliverycancel' | translate}}</mat-checkbox>
        <mat-checkbox formControlName="delivery" fxFlex color="primary" class="example-margin">{{'settings.consistencycheck.delivery' |
          translate}}</mat-checkbox>
        <mat-checkbox formControlName="zerosubzero" color="primary" fxFlex class="example-margin">
          {{'settings.consistencycheck.zerosubzero' | translate}}</mat-checkbox>
      </div>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="30px" fxLayoutAlign="space-between center" fxFlex>
        <div class="form-three-button-container" fxFlex>
          <button mat-raised-button color="primary" type="submit" (click)="saveConsistencyFormData()">
            <mat-icon>trending_up</mat-icon>
          </button>
        </div>
      </div>
    </section>
  </div>
</form>