<button mat-raised-button class="dialog-close" [mat-dialog-close]="true" color="warn">
  <mat-icon class="close-icon">close</mat-icon>
</button>

<form [formGroup]="dataOwnerForm" (ngSubmit)="onDataOwnerSubmit()" class="slim-form">
  <section class="bordered-section">
    <div class="row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px" fxLayoutGap.lt-md="0px">
      <mat-form-field appearance="outline" fxFlex="33">
        <mat-label>{{
          'operations.receipt.code' | translate
          }}</mat-label>
        <input matInput type="text" formControlName="code" />
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="30.5">
        <mat-label>{{
          'operations.receipt.name' | translate
          }}</mat-label>
        <input matInput type="text" formControlName="name" />
      </mat-form-field>
    </div>
    <div class="modal-button">
      <button mat-raised-button color="primary" type="submit">
        <mat-icon>search</mat-icon>
      </button>
      <button mat-raised-button color="accent" type="reset" (click)="resetDataOwnerForm()">
        <mat-icon>restart_alt</mat-icon>
      </button>
    </div>
    <table class="site-table text-center w-100">
      <thead>
        <tr>
          <th class="checkbox-column">
            <mat-checkbox color="primary"></mat-checkbox>
          </th>
          <th>{{ 'operations.receipt.type' | translate}}</th>
          <th>{{ 'operations.receipt.code' | translate}}</th>
          <th>{{ 'operations.receipt.name' | translate}} </th>
        </tr>
      </thead>
      <ng-template let-control ngFor [ngForOf]="searchDataSource">
        <tr>
          <td class="checkbox-column">
            <mat-checkbox color="primary"></mat-checkbox>
          </td>
          <td>
            {{control.type}}
          </td>
          <td>
            {{control.code}}
          </td>
          <td>
            {{control.name}}
          </td>
        </tr>
      </ng-template>
    </table>
  </section>
  
  <div class="modal-button-bottom">
    <button mat-raised-button color="primary" type="submit">
      <mat-icon>task_alt</mat-icon>
    </button>
  </div>
</form>