<button mat-raised-button class="dialog-close" [mat-dialog-close]="true" color="warn">
  <mat-icon class="close-icon">close</mat-icon>
</button>

<h1 mat-dialog-title>{{ 'routines.stockadjust.owner' | translate}}</h1>
<section class="bordered-section">
  <table class="site-table w-100 mt">
    <thead>
      <tr>
        <th>{{ 'routines.stockadjust.code' | translate}}</th>
        <th>{{ 'routines.stockadjust.description' | translate}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="#">code</a></td>
        <td>description</td>
      </tr>
    </tbody>
  </table>
</section>

<div class="modal-button-bottom">
  <button mat-raised-button color="primary">
    <mat-icon>task_alt</mat-icon>
  </button>
</div>