.form-checkbox-input {
  mat-checkbox {
    margin-top: 10px;
    margin-left: 20px;
  }
}
.owner-type-radio {
  margin-bottom: 5px;
  width: 300px;
  mat-radio-button {
    padding-right: 50px;
    margin-top: 5px;
  }
}
