<div class="page-title">
  <h2>{{'menu.setupOwner' | translate}}</h2>
</div>

<mat-tab-group #setupOwnerTab dynamicHeight>
  <mat-tab label="Data">
    <form [formGroup]="dataOwnerForm" class="slim-form">
      <div fxLayout="row" class="data-form">
        <mat-card class="w-100">
          <mat-card-content>
            <mat-tab-group #setupOwnerDataTab id="setupOwnerDataTab">
              <mat-tab label="Owner">
                <mat-card>
                  <mat-card-content>
                    <div fxLayout="row" class="row" fxLayoutGap="5px">
                      <mat-form-field appearance="outline" fxFlex="20" fxFlex.lt-sm="30">
                        <mat-label>{{'setup.owner.code' | translate }}</mat-label>
                        <input matInput required type="text" formControlName="code" />
                        <mat-error *ngIf="dataOwnerControls.code.invalid">{{ 'error.field' |
                          translate }}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline" fxFlex="60">
                        <mat-label>{{'setup.owner.name' | translate}}</mat-label>
                        <input matInput required type="text" formControlName="name" />
                        <mat-error *ngIf="dataOwnerControls.name.invalid">{{ 'error.field' |
                          translate }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxLayout="row" class="row" fxLayoutGap="5px">
                      <mat-form-field appearance="outline" fxFlex="20" fxFlex.lt-sm="30">
                        <mat-label>{{'setup.owner.shortName' | translate}}</mat-label>
                        <input matInput required type="text" formControlName="shortName" />
                        <mat-error *ngIf="dataOwnerControls.shortName.invalid">{{ 'error.field'
                          | translate }}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline" fxFlex="19.70" fxFlex.lt-sm="60">
                        <mat-label>{{
                          'setup.owner.type' | translate
                          }}</mat-label>
                        <mat-select disableOptionCentering panelClass="slim-select-field" formControlName="type">
                          <mat-option value="local">Local</mat-option>
                          <mat-option value="overseas">Overseas</mat-option>
                        </mat-select>
                        <mat-error *ngIf="dataOwnerControls.type.invalid">{{
                          'error.field' | translate
                          }}</mat-error>
                      </mat-form-field>
                    </div>
                    <div fxLayout="row" class="row" fxLayoutGap="5px">
                      <mat-form-field appearance="outline" fxFlex="40" fxFlex.lt-sm="40">
                        <mat-label>{{'setup.owner.address1' | translate }}</mat-label>
                        <input matInput required type="text" formControlName="address1" />
                        <mat-error *ngIf="dataOwnerControls.address1.invalid">{{ 'error.field' |
                          translate }}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline" fxFlex="40" fxFlex.lt-sm="50">
                        <mat-label>{{'setup.owner.address2' | translate}}</mat-label>
                        <input matInput required type="text" formControlName="address2" />
                        <mat-error *ngIf="dataOwnerControls.address2.invalid">{{ 'error.field' |
                          translate }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxLayout="row" class="row" fxLayoutGap="5px">
                      <mat-form-field appearance="outline" fxFlex="40" fxFlex.lt-sm="40">
                        <mat-label>{{'setup.owner.address3' | translate }}</mat-label>
                        <input matInput required type="text" formControlName="address3" />
                        <mat-error *ngIf="dataOwnerControls.address3.invalid">{{ 'error.field' |
                          translate }}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline" fxFlex="40" fxFlex.lt-sm="50">
                        <mat-label>{{'setup.owner.address4' | translate}}</mat-label>
                        <input matInput required type="text" formControlName="address4" />
                        <mat-error *ngIf="dataOwnerControls.address4.invalid">{{ 'error.field' |
                          translate }}
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div fxLayout="row" class="row" fxLayoutGap="5px">
                      <mat-form-field appearance="outline" fxFlex="40" fxFlex.lt-sm="24">
                        <mat-label>{{'setup.owner.place' | translate }}</mat-label>
                        <input matInput required type="text" formControlName="place" />
                        <mat-error *ngIf="dataOwnerControls.place.invalid">{{ 'error.field' |
                          translate }}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline" fxFlex="31.5" fxFlex.lt-sm="24">
                        <mat-label>{{'setup.owner.zip' | translate}}</mat-label>
                        <input matInput required type="text" formControlName="zip" />
                        <mat-error *ngIf="dataOwnerControls.zip.invalid">{{ 'error.field' |
                          translate }}
                        </mat-error>
                      </mat-form-field>
                      <div class="form-checkbox-input" fxFlex="15">
                        <mat-checkbox color="warn" formControlName="blockCustomer">{{ 'setup.owner.blockCustomer' |
                          translate
                          }}
                        </mat-checkbox>
                      </div>
                    </div>

                    <div fxLayout="row" class="row" fxLayoutGap="5px">
                      <mat-form-field appearance="outline" fxFlex="40" fxFlex.lt-sm="24">
                        <mat-label>{{'setup.owner.telephone' | translate }}</mat-label>
                        <input matInput required type="text" formControlName="telephone" />
                        <mat-error *ngIf="dataOwnerControls.telephone.invalid">{{ 'error.field' |
                          translate }}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline" fxFlex="31.5" fxFlex.lt-sm="24">
                        <mat-label>{{'setup.owner.fax' | translate}}</mat-label>
                        <input matInput required type="text" formControlName="fax" />
                        <mat-error *ngIf="dataOwnerControls.fax.invalid">{{ 'error.field' |
                          translate }}
                        </mat-error>
                      </mat-form-field>
                      <div class="form-checkbox-input" fxFlex="20">
                        <mat-checkbox color="primary" formControlName="actAsCustomer">
                          {{ 'setup.owner.actAsCustomer' | translate }}</mat-checkbox>
                      </div>
                    </div>

                    <div fxLayout="row" class="row" fxLayoutGap="5px">
                      <mat-form-field appearance="outline" fxFlex="80.5" fxFlex.lt-sm="90">
                        <mat-label>{{'setup.owner.email' | translate }}</mat-label>
                        <input matInput required type="text" formControlName="email" />
                        <mat-error *ngIf="dataOwnerControls.email.invalid">{{ 'error.field' |
                          translate }}
                        </mat-error>
                      </mat-form-field>
                    </div>

                  </mat-card-content>
                </mat-card>
              </mat-tab>

              <mat-tab label="Document Email Settings">
                <mat-card class="document-table">
                  <mat-card-content>
                    <table class="site-table w-100 mat-elevation-z8">
                      <thead>
                        <tr>
                          <th>{{ 'setup.owner.documents.type' | translate}}</th>
                          <th>{{ 'setup.owner.documents.autoEmail' | translate}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-template let-document ngFor [ngForOf]="documentDataSource">
                          <tr>
                            <td>
                              {{document.type}}
                            </td>
                            <td style="text-align: center; width: 80px;">
                              <mat-checkbox color="primary" [checked]="document.autoEmail" disabled></mat-checkbox>
                            </td>
                          </tr>
                        </ng-template>
                      </tbody>
                    </table>
                  </mat-card-content>
                </mat-card>
              </mat-tab>

              <mat-tab label="WH Control">
                <mat-card class="wh-control-table">
                  <mat-card-content>
                    <table class="site-table w-100 mat-elevation-z8">
                      <thead>
                        <tr>
                          <th></th>
                          <th>{{ 'setup.owner.whControl.code' | translate}}</th>
                          <th>{{ 'setup.owner.whControl.name' | translate}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-template let-control ngFor [ngForOf]="whControlDataSource">
                          <tr>
                            <td style="text-align: center; width: 30px;">
                              <mat-checkbox color="primary"></mat-checkbox>
                            </td>
                            <td>{{control.code}}</td>
                            <td>{{control.name}}</td>
                          </tr>
                        </ng-template>
                      </tbody>
                    </table>
                  </mat-card-content>
                </mat-card>
              </mat-tab>

            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </div>
      <mat-card class="form-action-section">
        <mat-card-content>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="30px" fxLayoutAlign="space-between center">
            <div fxFlexOrder.lt-md="2">
              <ibe-data-audit insertedBy=""></ibe-data-audit>
            </div>
            <div class="form-three-button-container" style="margin-top: 5px;">
              <button mat-raised-button color="primary" type="submit" (click)="saveOwnerData()">
                <mat-icon>task_alt</mat-icon>
              </button>
              <button mat-raised-button color="warn" type="button" (click)="deleteOwnerData()">
                <mat-icon>remove_circle_outline</mat-icon>
              </button>
              <button mat-raised-button color="accent" type="reset" (click)="resetOwnerDataForm()">
                <mat-icon>loop</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </mat-tab>
  <!-- Search -->
  <mat-tab label="Search">
    <!-- <form fxLayout="column" [formGroup]="searchWarehouseForm" (ngSubmit)="onSearchWarehouseSubmit()" class="slim-form">
        <mat-card class="filter-container">
          <mat-card-content>
            <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
              class="row">
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>{{
                  'setup.warehouse.code' | translate
                  }}</mat-label>
                <input matInput type="text" formControlName="warehouseCode" />
                <mat-error *ngIf="searchWarehouseFormControls.warehouseCode.invalid">
                  {{ 'error.field' | translate }}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>{{
                  'setup.warehouse.description' | translate
                  }}</mat-label>
                <input matInput type="text" formControlName="description" />
                <mat-error *ngIf="searchWarehouseFormControls.description.invalid">
                  {{ 'error.field' | translate }}</mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" fxFlex>
                <mat-label>{{
                  'setup.warehouse.id' | translate
                  }}</mat-label>
                <input matInput type="text" formControlName="id" />
                <mat-error *ngIf="searchWarehouseFormControls.id.invalid">
                  {{ 'error.field' | translate }}</mat-error>
              </mat-form-field>
            </div>
          </mat-card-content>
        </mat-card>
        <mat-card class="search-container">
          <mat-card-content>
            <div class="form-button-container">
              <button mat-raised-button color="primary" type="submit">
                <mat-icon>search</mat-icon>
              </button>
              <button mat-raised-button color="accent" type="reset" (click)="resetWarehouseSearchForm()">
                <mat-icon>restart_alt</mat-icon>
              </button>
            </div>
          </mat-card-content>
        </mat-card>
      </form>
      <mat-card class="mat-elevation-z10">
        <mat-card-content>
          <table mat-table [dataSource]="searchDataSource" class="mat-elevation-z8 search-table">
            <ng-container matColumnDef="warehouseCode">
              <th mat-header-cell *matHeaderCellDef>Warehouse Code</th>
              <td mat-cell *matCellDef="let element; let idx=index">
                <button mat-button disableRipple class="primary-button link-button"
                  (click)="searchItemClick($event, element, idx)">{{ element.warehouseCode }}</button>
              </td>
            </ng-container>
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef>Description</th>
              <td mat-cell *matCellDef="let element">
                {{ element.description }}
              </td>
            </ng-container>
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let element">
                {{ element.id }}
              </td>
            </ng-container>
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>Email</th>
              <td mat-cell *matCellDef="let element">
                {{ element.email }}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedSearchColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedSearchColumns"></tr>
          </table>
          <small *ngIf="searchDataSource.length === 0" class="empty-table">
            No records found
          </small>
        </mat-card-content>
      </mat-card> -->
  </mat-tab>
</mat-tab-group>
