<a mat-list-item [ngStyle]="{'padding-left': (depth * 12) + 'px'}" (click)="onItemSelected(item)"
   [ngClass]="{'active-link': item.route ? router.isActive(item.route, true): false, 'expanded': expanded}"
   class="menu-list-item">
   <ng-container *ngIf="item.children && item.children.length; then first else second"></ng-container>
  <ng-template #first>{{item.displayName}}</ng-template>
  <ng-template #second>
    <span class="mat-leaf-node">{{item.displayName}}</span>
  </ng-template>
  <span fxFlex *ngIf="item.children && item.children.length">
    <span fxFlex></span>
    <mat-icon [@indicatorRotate]="expanded ? 'expanded': 'collapsed'">
      expand_more
    </mat-icon>
  </span>
</a>
<div *ngIf="expanded">
  <ibe-nav-list-item *ngFor="let child of item.children" [item]="child" [depth]="depth+1">
  </ibe-nav-list-item>
</div>
