<div class="page-title-untabbed">
  <h2>{{'menu.baseStorageType' | translate}}</h2>
</div>
<div class="slim-form">
  <section class="bordered-section">
    <table class="site-table mat-elevation-z8">
      <thead>
        <tr>
          <th>{{ 'base.storageType.code' | translate}}</th>
          <th>{{ 'base.storageType.description' | translate}}</th>
          <th style="text-align: center;">
            <mat-icon style="padding-top: 3px;">add_circle_outline</mat-icon>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-template let-storageType ngFor [ngForOf]="storageTypeDataSource">
          <tr>
            <td class="column-100">
              {{storageType.code}}
            </td>
            <td>
              {{storageType.description}}
            </td>
            <td class="two-button-column">
              <button mat-mini-fab color="primary" class="mdb-30">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-mini-fab color="warn" class="mdb-30">
                <mat-icon>remove</mat-icon>
              </button>
            </td>
          </tr>
        </ng-template>
        <tr>
          <td>
            <input type="text" class="w-100">
          </td>
          <td>
            <input type="text" class="w-100">
          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="data-tab-footer">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="end center" fxLayoutAlign.lt-sm="end end">
      <div class="form-three-button-container" fxFlex>
        <button mat-raised-button color="primary" type="submit">
          <mat-icon>task_alt</mat-icon>
        </button>
      </div>
    </div>
  </section>
</div>