<div class="page-title">
  <h2>{{'menu.baseStorageType' | translate}}</h2>
</div>
<mat-card class="storage-type-table">
  <mat-card-content>
    <table class="site-table w-100 mat-elevation-z8">
      <thead>
        <tr>
          <th>{{ 'base.storageType.code' | translate}}</th>
          <th>{{ 'base.storageType.description' | translate}}</th>
          <th style="text-align: center;">
            <mat-icon style="padding-top: 3px;">add_circle_outline</mat-icon>
          </th>
        </tr>
      </thead>
      <tbody>
        <ng-template let-storageType ngFor [ngForOf]="storageTypeDataSource">
          <tr>
            <td>
              {{storageType.code}}
            </td>
            <td>
              {{storageType.description}}
            </td>
            <td class="two-button-column">
              <button mat-mini-fab color="primary" class="mdb-30">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-mini-fab color="warn" class="mdb-30">
                <mat-icon>remove</mat-icon>
              </button>
            </td>
          </tr>
        </ng-template>
        <tr>
          <td>
            <input type="text" style="width: 100%;">
          </td>
          <td style="width: 60%;">
            <input type="text">
          </td>
          <td style="text-align: center;">
          </td>
        </tr>
      </tbody>
    </table>
  </mat-card-content>
</mat-card>
<ibe-data-audit insertedBy=""></ibe-data-audit>
