<mat-card class="storage-table">
    <mat-card-content>
      <table class="site-table w-100 mat-elevation-z8">
        <thead>
          <tr>
            <th>{{ 'base.storageType.code' | translate}}</th>
            <th>{{ 'base.storageType.description'  | translate}}</th>
            <th style="text-align: center;"><mat-icon style="padding-top: 3px;">add_circle_outline</mat-icon></th>
          </tr>
        </thead>
        <tbody>
          <!-- <ng-template let-rule ngFor [ngForOf]="ruleBoxDataSource">
            <tr>
              <td style="width: 50px;">
                <input type="text" style="width: 100%;" [value]="rule.serialNo">
              </td>
              <td>
                <input type="text" style="width: 100%;" [value]="rule.rule">
              </td>
              <td style="width: 200px;">
                <input type="text" style="width: 100%;" [value]="rule.value">
              </td>
            </tr>
          </ng-template> -->
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>