@import '../../../../assets/scss/variables.scss';

.page-content {
    margin-top: 50px;
}

.slim-form {
    .input-row {
        height: 42px !important;
        @include breakpoint(mobileonly) {
            height: auto !important;
        }
    }
}

.form-four-button-container {
    button {
    
      @include breakpoint(mobileonly) {
        width: 15%;
      }
    }
  }