@import '../../../../assets/scss/variables.scss';

.overflow-x {
  overflow-x: auto !important;
}

.slim-form {
  ::ng-deep .mat-form-field-subscript-wrapper {
    margin-top: 3px !important;
  }
}

.cursor-style {
  cursor: pointer;
}

.field-form {
  padding-bottom: 0px !important;
}

.progress-section {
  margin: 10px;
  .progress-box {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: #13b4ff;
    margin-top: 0px;
  }
}

.read-only-input {
  @include breakpoint(mobileonly) {
    padding: 10px 0px;
  }
}
