<div class="page-title">
  <h2>{{'menu.baseLocation' | translate}}</h2>
</div>

<mat-tab-group #baseLocationTab dynamicHeight>
  <mat-tab label="Data">
    <form [formGroup]="dataLocationForm" class="slim-form">
      <div fxLayout="row" class="data-form">
        <mat-card class="w-100">
          <mat-card-content>
            <mat-tab-group #baseLocationDataTab id="baseLocationDataTab">
              <mat-tab label="Location">
                <mat-card>
                  <mat-card-content>

                    <div fxLayout="row" class="row" fxLayoutGap="5px">
                      <mat-form-field appearance="outline" fxFlex="20" fxFlex.lt-sm="25">
                        <mat-label>{{'base.location.warehouse' | translate }}</mat-label>
                        <mat-select disableOptionCentering panelClass="slim-select-field" type="text" readonly
                          formControlName="warehouse">
                          <mat-option>Warehouse 1</mat-option>
                          <mat-option>Warehouse 2</mat-option>
                        </mat-select>
                        <mat-error *ngIf="dataLocationControls.warehouse.invalid">{{ 'error.field' | translate }}
                        </mat-error>
                      </mat-form-field>
                      <div class="read-only-description" fxFlex>
                        <label>{{ 'base.location.warehouse' | translate }}</label>
                      </div>
                    </div>

                    <div fxLayout="row" class="row" fxLayoutGap="5px">
                      <mat-form-field appearance="outline" fxFlex="20" fxFlex.lt-sm="25">
                        <mat-label>{{'base.location.row' | translate }}</mat-label>
                        <mat-select disableOptionCentering panelClass="slim-select-field" type="text" readonly
                          formControlName="row">
                          <mat-option>Row 1</mat-option>
                          <mat-option>Row 2</mat-option>
                        </mat-select>
                        <mat-error *ngIf="dataLocationControls.row.invalid">{{ 'error.field' | translate }}
                        </mat-error>
                      </mat-form-field>
                      <div class="read-only-description" fxFlex="30">
                        <label>{{ 'base.location.row' | translate }}</label>
                      </div>
                      <mat-form-field appearance="outline" fxFlex="20" fxFlex.lt-sm="25">
                        <mat-label>{{'base.location.unit' | translate }}</mat-label>
                        <mat-select disableOptionCentering panelClass="slim-select-field" type="text" readonly
                          formControlName="unit">
                          <mat-option>Unit 1</mat-option>
                          <mat-option>Unit 2</mat-option>
                        </mat-select>
                        <mat-error *ngIf="dataLocationControls.unit.invalid">{{ 'error.field' | translate }}
                        </mat-error>
                      </mat-form-field>
                      <div class="read-only-description" fxFlex>
                        <label>{{ 'base.location.unit' | translate }}</label>
                      </div>
                    </div>

                    <div fxLayout="row" class="row" fxLayoutGap="5px">
                      <mat-form-field appearance="outline" fxFlex="20" fxFlex.lt-sm="25">
                        <mat-label>{{'base.location.level' | translate}}</mat-label>
                        <input matInput type="text" formControlName="level" />
                        <mat-error *ngIf="dataLocationControls.level.invalid">{{ 'error.field' | translate }}
                        </mat-error>
                      </mat-form-field>
                      <div class="read-only-description" fxFlex="20" fxFlex.lt-sm="30">
                        <label>{{ 'base.location.location' | translate }}</label>
                      </div>
                      <mat-form-field appearance="outline" fxFlex fxFlex.lt-sm="45">
                        <mat-label>{{'base.location.nature' | translate }}</mat-label>
                        <mat-select disableOptionCentering panelClass="slim-select-field" type="text" readonly
                          formControlName="nature">
                          <mat-option>Nature 1</mat-option>
                          <mat-option>Nature 2</mat-option>
                        </mat-select>
                        <mat-error *ngIf="dataLocationControls.nature.invalid">{{'error.field' | translate }}
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div fxLayout="row" class="row" fxLayoutGap="5px">
                      <mat-form-field appearance="outline" fxFlex="25">
                        <mat-label>{{'base.location.zone' | translate }}</mat-label>
                        <mat-select disableOptionCentering panelClass="slim-select-field" type="text" readonly
                          formControlName="zone">
                          <mat-option>Zone 1</mat-option>
                          <mat-option>Zone 2</mat-option>
                        </mat-select>
                        <mat-error *ngIf="dataLocationControls.zone.invalid">
                          {{ 'error.field' | translate }}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline" fxFlex>
                        <mat-label>{{'base.location.description' | translate}}</mat-label>
                        <input matInput readonly type="text" formControlName="description" />
                      </mat-form-field>
                    </div>

                    <div fxLayout="row" class="row" fxLayoutGap="5px">
                      <mat-form-field appearance="outline" fxFlex="20" fxFlex.lt-sm="25">
                        <mat-label>{{'base.location.storageType' | translate }}</mat-label>
                        <mat-select disableOptionCentering panelClass="slim-select-field" type="text" readonly
                          formControlName="storageType">
                          <mat-option>Storage Type 1</mat-option>
                          <mat-option>Storage Type 2</mat-option>
                        </mat-select>
                        <mat-error *ngIf="dataLocationControls.storageType.invalid">
                          {{'error.field' | translate }}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline" fxFlex="20" fxFlex.lt-sm="25">
                        <mat-label>{{'base.location.scanType' | translate }}</mat-label>
                        <mat-select disableOptionCentering panelClass="slim-select-field" type="text" readonly
                          formControlName="scanType">
                          <mat-option>Scan Type 1</mat-option>
                          <mat-option>Scan Type 2</mat-option>
                        </mat-select>
                        <mat-error *ngIf="dataLocationControls.scanType.invalid">
                          {{ 'error.field' | translate }}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline" fxFlex fxFlex.lt-sm="47">
                        <mat-label>{{'base.location.scanCode' | translate}}</mat-label>
                        <input matInput type="text" formControlName="scanCode" />
                      </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayout.lt-sm="column" class="row" fxLayoutGap="5px" fxFlexFill>
                      <mat-form-field appearance="outline" fxFlex="20" fxFlex.lt-sm="25">
                        <mat-label>{{'base.location.storageStatus' | translate }}</mat-label>
                        <mat-select disableOptionCentering panelClass="slim-select-field" type="text" readonly
                          formControlName="storageStatus">
                          <mat-option>Storage Status 1</mat-option>
                          <mat-option>Storage Status 2</mat-option>
                        </mat-select>
                        <mat-error *ngIf="dataLocationControls.storageStatus.invalid">{{ 'error.field' | translate }}
                        </mat-error>
                      </mat-form-field>
                      <div class="pale-border-box" fxFlex="40" fxFlex.lt-md="31">
                        <mat-checkbox color="primary" formControlName="freeze">
                          {{ 'base.location.freeze' | translate }}
                        </mat-checkbox>
                        <mat-checkbox color="primary" formControlName="reworkArea">
                          {{ 'base.location.reworkArea' | translate }}</mat-checkbox>
                      </div>
                      <div class="pale-border-box" fxFlex="40" fxFlex.lt-md="47">
                        <b>{{ 'base.location.excludeFrom' | translate }}</b>
                        <mat-checkbox color="primary" formControlName="planning">
                          {{ 'base.location.planning' | translate }}</mat-checkbox>
                        <mat-checkbox color="primary" formControlName="autoAllocation">
                          {{'base.location.autoAllocation' | translate}}</mat-checkbox>
                      </div>
                    </div>

                    <div fxLayout="row" class="row" fxLayoutGap="5px">
                      <mat-form-field appearance="outline" fxFlex="20" fxFlex.lt-sm="25">
                        <mat-label>{{'base.location.walkSequence' | translate}}</mat-label>
                        <input matInput type="text" formControlName="walkSequence" />
                        <mat-error *ngIf="dataLocationControls.walkSequence.invalid">{{
                          'error.field' |
                          translate }}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline" fxFlex="20" fxFlex.lt-sm="25">
                        <mat-label>{{'base.location.floorSequence' | translate}}</mat-label>
                        <input matInput type="text" formControlName="floorSequence" />
                        <mat-error *ngIf="dataLocationControls.floorSequence.invalid">{{
                          'error.field' |
                          translate }}
                        </mat-error>
                      </mat-form-field>
                      <mat-form-field appearance="outline" fxFlex>
                        <mat-label>{{'base.location.lpnLocation' | translate}}</mat-label>
                        <input matInput type="text" formControlName="lpnLocation" />
                        <mat-error *ngIf="dataLocationControls.lpnLocation.invalid">{{
                          'error.field' |
                          translate }}
                        </mat-error>
                      </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="stretch" fxLayoutGap="10px">
                      <div fxFlex class="pale-border-box">
                        <b>{{'base.location.inventoryAudit' | translate}}</b>
                        <div fxLayout.gt-sm="row" fxLayout.lt-sm="column">
                          <div fxFlex.gt-sm="50%" fxFlex>
                            <p>{{'base.location.lastAuditCompleted' | translate}} : </p>
                          </div>
                          <div fxFlex.gt-sm="50%" fxFlex>
                            <p>{{'base.location.currentAuditStarted' | translate}} : </p>
                          </div>
                        </div>
                      </div>
                    </div>

                  </mat-card-content>
                </mat-card>
              </mat-tab>
              <mat-tab label="Capacity">
                <mat-card>
                  <mat-card-content>
                    <div fxLayout="row" class="row" fxLayoutGap="5px">
                      <div class="input-group" fxFlex="25">
                        <div class="input-group-title">{{'base.location.capacity.length' |
                          translate}}</div>
                        <div class="input-group-area">
                          <input type="text" value="0">
                        </div>
                        <div class="input-group-icon input-ic-padding-b">{{'general.mm' |
                          translate}}</div>
                      </div>
                    </div>

                    <div fxLayout="row" class="row" fxLayoutGap="5px">
                      <div class="input-group" fxFlex="25">
                        <div class="input-group-title">{{'base.location.capacity.breadth' |
                          translate}}</div>
                        <div class="input-group-area">
                          <input type="text" value="0">
                        </div>
                        <div class="input-group-icon input-ic-padding-b">{{'general.mm' |
                          translate}}</div>
                      </div>
                    </div>

                    <div fxLayout="row" class="row" fxLayoutGap="5px">
                      <div class="input-group" fxFlex="25">
                        <div class="input-group-title">{{'base.location.capacity.height' |
                          translate}}</div>
                        <div class="input-group-area">
                          <input type="text" value="0">
                        </div>
                        <div class="input-group-icon input-ic-padding-b">{{'general.mm' |
                          translate}}</div>
                      </div>
                      <div class="autoFill-checkbox" fxFlex>
                        <mat-checkbox color="primary" formControlName="autoFill">{{
                          'base.location.capacity.autoFill' | translate
                          }}</mat-checkbox>
                      </div>
                    </div>

                    <div fxLayout="row" class="row" fxLayoutGap="5px">
                      <div class="input-group" fxFlex="25">
                        <div class="input-group-title">{{'base.location.capacity.volume' |
                          translate}}</div>
                        <div class="input-group-area">
                          <input type="text" value="0">
                        </div>
                        <div class="input-group-icon input-ic-padding-b">{{'general.cbm' |
                          translate}}</div>
                      </div>
                      <div class="validate-checkbox" fxFlex>
                        <mat-checkbox color="primary" formControlName="volumeValidate">{{
                          'base.location.capacity.volumeValidate' | translate
                          }}</mat-checkbox>
                      </div>
                      <mat-form-field appearance="outline" fxFlex="25">
                        <mat-label>{{'base.location.capacity.volumeSafePercentage' | translate}}
                        </mat-label>
                        <input matInput type="text" formControlName="volumeSafePercentage" />
                      </mat-form-field>
                      <mat-form-field appearance="outline" fxFlex="25">
                        <mat-label>{{'base.location.capacity.volumeFillPercentage' | translate}}
                        </mat-label>
                        <input matInput readonly type="text" formControlName="volumeFillPercentage" />
                      </mat-form-field>
                    </div>

                    <div fxLayout="row" class="row" fxLayoutGap="5px">
                      <div class="input-group" fxFlex="25">
                        <div class="input-group-title">{{'base.location.capacity.weight' |
                          translate}}</div>
                        <div class="input-group-area">
                          <input type="text" value="0">
                        </div>
                        <div class="input-group-icon input-ic-padding-b">{{'general.kg' |
                          translate}}</div>
                      </div>
                      <div class="validate-checkbox" fxFlex>
                        <mat-checkbox color="primary" formControlName="volumeValidate">{{
                          'base.location.capacity.weightValidate' | translate
                          }}</mat-checkbox>
                      </div>
                      <mat-form-field appearance="outline" fxFlex="25">
                        <mat-label>{{'base.location.capacity.weightSafePercentage' | translate}}
                        </mat-label>
                        <input matInput type="text" formControlName="weightSafePercentage" />
                      </mat-form-field>
                      <mat-form-field appearance="outline" fxFlex="25">
                        <mat-label>{{'base.location.capacity.weightFillPercentage' | translate}}
                        </mat-label>
                        <input matInput readonly type="text" formControlName="weightFillPercentage" />
                      </mat-form-field>
                    </div>
                  </mat-card-content>
                </mat-card>
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
        </mat-card>
      </div>
      <mat-card class="form-action-section">
        <mat-card-content>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="30px" fxLayoutAlign="space-between center">
            <div fxFlexOrder.lt-md="2">
              <ibe-data-audit insertedBy=""></ibe-data-audit>
            </div>
            <div class="form-three-button-container" fxFlexOrder.lt-md="1">
              <button mat-raised-button color="primary" type="submit" (click)="saveCompanyData()">
                <mat-icon>task_alt</mat-icon>
              </button>
              <button mat-raised-button color="warn" type="button" (click)="deleteCompanyData()">
                <mat-icon>remove_circle_outline</mat-icon>
              </button>
              <button mat-raised-button color="accent" type="reset" (click)="resetCompanyDataForm()">
                <mat-icon>loop</mat-icon>
              </button>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
  </mat-tab>
  <!-- Search -->
  <mat-tab label="Search">
    <form fxLayout="column" [formGroup]="searchLocationForm" (ngSubmit)="onSearchLocationSubmit()" class="slim-form">
      <mat-card class="filter-container">
        <mat-card-content>

          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
            class="row">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'base.location.warehouseCode' | translate
                }}</mat-label>
              <mat-select disableOptionCentering panelClass="slim-select-field" type="text" readonly
                formControlName="warehouseCode">
                <mat-option>Warehouse 1</mat-option>
                <mat-option>Warehouse 2</mat-option>
              </mat-select>
              <mat-error *ngIf="searchLocationFormControls.warehouseCode.invalid">{{
                'error.field' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'base.location.row' | translate
                }}</mat-label>
              <input matInput type="text" formControlName="row" />
              <mat-error *ngIf="searchLocationFormControls.row.invalid">
                {{ 'error.field' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'base.location.unit' | translate
                }}</mat-label>
              <input matInput type="text" formControlName="unit" />
              <mat-error *ngIf="searchLocationFormControls.unit.invalid">
                {{ 'error.field' | translate }}</mat-error>
            </mat-form-field>
          </div>

          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
            class="row">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'base.location.level' | translate
                }}</mat-label>
              <input matInput type="text" formControlName="level" />
              <mat-error *ngIf="searchLocationFormControls.level.invalid">
                {{ 'error.field' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'base.location.location' | translate
                }}</mat-label>
              <input matInput type="text" formControlName="location" />
              <mat-error *ngIf="searchLocationFormControls.location.invalid">
                {{ 'error.field' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'base.location.description' | translate
                }}</mat-label>
              <input matInput type="text" formControlName="description" />
              <mat-error *ngIf="searchLocationFormControls.description.invalid">
                {{ 'error.field' | translate }}</mat-error>
            </mat-form-field>
          </div>

          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
            class="row">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'base.location.scanCode' | translate
                }}</mat-label>
              <input matInput type="text" formControlName="scanCode" />
              <mat-error *ngIf="searchLocationFormControls.scanCode.invalid">
                {{ 'error.field' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'base.location.storageType' | translate
                }}</mat-label>
              <input matInput type="text" formControlName="storageType" />
              <mat-error *ngIf="searchLocationFormControls.storageType.invalid">
                {{ 'error.field' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'base.location.walkSequence' | translate
                }}</mat-label>
              <input matInput type="text" formControlName="walkSequence" />
              <mat-error *ngIf="searchLocationFormControls.walkSequence.invalid">
                {{ 'error.field' | translate }}</mat-error>
            </mat-form-field>
          </div>

          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
            class="row">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'base.location.floorSequence' | translate
                }}</mat-label>
              <input matInput type="text" formControlName="floorSequence" />
              <mat-error *ngIf="searchLocationFormControls.floorSequence.invalid">
                {{ 'error.field' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'base.location.nature' | translate
                }}</mat-label>
              <mat-select disableOptionCentering panelClass="slim-select-field" type="text" readonly
                formControlName="nature">
                <mat-option>Nature 1</mat-option>
                <mat-option>Nature 2</mat-option>
              </mat-select>
              <mat-error *ngIf="searchLocationFormControls.nature.invalid">{{
                'error.field' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'base.location.scanCode' | translate
                }}</mat-label>
              <mat-select disableOptionCentering panelClass="slim-select-field" type="text" readonly
                formControlName="scanCode">
                <mat-option>Scan Code 1</mat-option>
                <mat-option>Scan Code 2</mat-option>
              </mat-select>
              <mat-error *ngIf="searchLocationFormControls.scanCode.invalid">{{
                'error.field' | translate }}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
            class="row">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'base.location.zone' | translate
                }}</mat-label>
              <mat-select disableOptionCentering panelClass="slim-select-field" type="text" readonly
                formControlName="zone">
                <mat-option>Zone 1</mat-option>
                <mat-option>Zone 2</mat-option>
              </mat-select>
              <mat-error *ngIf="searchLocationFormControls.zone.invalid">{{
                'error.field' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'base.location.freeze' | translate
                }}</mat-label>
              <mat-select disableOptionCentering panelClass="slim-select-field" type="text" formControlName="freeze">
                <mat-option value="yes">Yes</mat-option>
                <mat-option value="no">No</mat-option>
              </mat-select>
              <mat-error *ngIf="searchLocationFormControls.freeze.invalid">{{
                'error.field' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'base.location.reworkArea' | translate
                }}</mat-label>
              <mat-select disableOptionCentering panelClass="slim-select-field" type="text"
                formControlName="reworkArea">
                <mat-option value="yes">Yes</mat-option>
                <mat-option value="no">No</mat-option>
              </mat-select>
              <mat-error *ngIf="searchLocationFormControls.reworkArea.invalid">{{
                'error.field' | translate }}
              </mat-error>
            </mat-form-field>
          </div>

          <div class="input-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px" fxLayoutGap.lt-md="0px"
            class="row">
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'base.location.audit' | translate
                }}</mat-label>
              <mat-select disableOptionCentering panelClass="slim-select-field" type="text" formControlName="audit">
                <mat-option value="yes">Yes</mat-option>
                <mat-option value="no">No</mat-option>
              </mat-select>
              <mat-error *ngIf="searchLocationFormControls.audit.invalid">{{
                'error.field' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'base.location.excludeFromPlanning' | translate
                }}</mat-label>
              <mat-select disableOptionCentering panelClass="slim-select-field" type="text"
                formControlName="excludeFromPlanning">
                <mat-option value="yes">Yes</mat-option>
                <mat-option value="no">No</mat-option>
              </mat-select>
              <mat-error *ngIf="searchLocationFormControls.excludeFromPlanning.invalid">{{
                'error.field' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex>
              <mat-label>{{
                'base.location.excludeFromAutoAllocation' | translate
                }}</mat-label>
              <mat-select disableOptionCentering panelClass="slim-select-field" type="text"
                formControlName="excludeFromAutoAllocation">
                <mat-option value="yes">Yes</mat-option>
                <mat-option value="no">No</mat-option>
              </mat-select>
              <mat-error *ngIf="searchLocationFormControls.excludeFromAutoAllocation.invalid">{{
                'error.field' | translate }}
              </mat-error>
            </mat-form-field>
          </div>

        </mat-card-content>
      </mat-card>
      <mat-card class="search-container">
        <mat-card-content>
          <div class="form-button-container">
            <button mat-raised-button color="primary" type="submit">
              <mat-icon>search</mat-icon>
            </button>
            <button mat-raised-button color="accent" type="reset" (click)="resetLocationSearchForm()">
              <mat-icon>restart_alt</mat-icon>
            </button>
          </div>
        </mat-card-content>
      </mat-card>
    </form>
    <mat-card class="mat-elevation-z10">
      <mat-card-content>
        <table mat-table [dataSource]="searchLocationDataSource" class="mat-elevation-z8 search-table">
          <ng-container matColumnDef="warehouseCode">
            <th mat-header-cell *matHeaderCellDef>{{
              'base.location.warehouseCode' | translate
              }}</th>
            <td mat-cell *matCellDef="let element; let idx=index">
              <button mat-button disableRipple class="primary-button link-button"
                (click)="searchItemClick($event, element, idx)">{{ element.warehouseCode }}</button>
            </td>
          </ng-container>
          <ng-container matColumnDef="row">
            <th mat-header-cell *matHeaderCellDef>{{
              'base.location.row' | translate
              }}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.row }}
            </td>
          </ng-container>
          <ng-container matColumnDef="unit">
            <th mat-header-cell *matHeaderCellDef>{{
              'base.location.unit' | translate
              }}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.unit }}
            </td>
          </ng-container>
          <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef>{{
              'base.location.location' | translate
              }}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.location }}
            </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>{{
              'base.location.description' | translate
              }}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.description }}
            </td>
          </ng-container>
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>{{
              'base.location.status' | translate
              }}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.status }}
            </td>
          </ng-container>
          <ng-container matColumnDef="nature">
            <th mat-header-cell *matHeaderCellDef>{{
              'base.location.nature' | translate
              }}</th>
            <td mat-cell *matCellDef="let element">
              {{ element.nature }}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedLocationColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedLocationColumns"></tr>
        </table>
        <small *ngIf="searchLocationDataSource.length === 0" class="empty-table">
          No records found
        </small>
      </mat-card-content>
    </mat-card>
  </mat-tab>
</mat-tab-group>
