@import "../../../../assets/scss/variables.scss";

div.form-checkbox-input {
    margin: 10px 20px;
    mat-checkbox {
        margin-left: 10px;
        margin-right: 30px;
    }
}

.validate-checkbox, .autoFill-checkbox{
    margin-left: 30px;
    padding-top: 12px 
}

.pale-border-box {
    div.row {
        // padding-top: 14px;
        & > div {
            margin-left: 10px;
            margin-right: 30px !important;
            padding-right: 30px !important;
        }
    }
}

.input-group {
    margin-top: 10px;
    .input-group-title {
        padding: 0px 30px !important;
    }
    .input-group-icon {
        padding: 0 20px;
    }
}
