@import "../../../../assets/scss/variables.scss";

div.form-checkbox-input {
  margin-bottom: 18px;
  height: 39px;
  @include breakpoint(mobileonly) {
    padding-bottom: 48px;
  }
  mat-checkbox {
    margin-left: 10px;
    margin-right: 30px;
  }
}

div.form-checkbox-input-no-header {
  margin-bottom: 18px;
  height: 39px;

  mat-checkbox {
    margin-left: 10px;
    margin-right: 30px;
  }
}

.validate-checkbox {
  margin-left: 30px;
  // padding-top: 12px;
  @include breakpoint(mobileonly) {
    margin-left: 0px;
    padding-top: 0px;
  }
}

.autoFill-checkbox {
  padding-top: 12px;
}
.pale-border-box {
  mat-checkbox {
    margin-left: 10px;
  }
  b {
    @include breakpoint(mobileonly) {
      display: block;
    }
  }
}
.input-group {
  margin-top: 10px;
  .input-group-title {
    min-width: 83px !important;
    padding: 0px 17px !important;
  }
  .input-group-icon {
    padding: 0 20px;
    min-width: 71px;
  }
  input {
    @include breakpoint(mobileonly) {
      padding: 8px 40px;
    }
  }
}

.spacer {
  padding: 18px 0px;
  @include breakpoint(mobileonly) {
    padding: 0px 0px;
  }
}

.capacity-form {
  mat-form-field {
    ::ng-deep .mat-form-field-wrapper {
      @include breakpoint(mobileonly) {
        padding-bottom: 0em !important;
      }
    }
  }
}

.form-three-button-container{
  float: right;
}

.input-right-section{
  margin-top: 15px;
  .validate-checkbox{
    margin-top: 6px;
  }
}

.slim-form .inner-tab .mat-tab-body-content {
  padding-right: 5px;
}

.input-group-area{
  input{
    text-align: right;
  }
}