<div class="mt-sm">
  <form [formGroup]="directPutawayForm" fxLayout="column" class="slim-form">
    <div fxLayout="column" fxLayoutGap="5px">

      <mat-form-field appearance="outline" class="input-row" fxFlex>
        <mat-label>{{
          'scans.doubleScan.location' | translate
          }}</mat-label>
        <input matInput type="text" formControlName="location" />
        <mat-icon matSuffix type="button" class="cursor-style" (click)="openLocationDialog()">search</mat-icon>
        <mat-error *ngIf="directPutawayFormControls.location.invalid">
          {{ 'error.field' | translate }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-row" fxFlex>
        <mat-label>{{
          'scans.doubleScan.grnsl' | translate
          }}</mat-label>
        <input matInput type="text" formControlName="grnsl" />
        <mat-error *ngIf="directPutawayFormControls.grnsl.invalid">
          {{ 'error.field' | translate }}</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutGap="5px">
      <mat-form-field appearance="outline" fxFlex="35">
        <mat-label>{{
          'scans.doubleScan.good' | translate
          }}</mat-label>
        <input matInput type="text" formControlName="good" />
        <mat-error *ngIf="directPutawayFormControls.good.invalid">
          {{ 'error.field' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex="35">
        <mat-label>{{
          'scans.doubleScan.dmg' | translate
          }}</mat-label>
        <input matInput type="text" formControlName="dmg" />
        <mat-error *ngIf="directPutawayFormControls.dmg.invalid">
          {{ 'error.field' | translate }}</mat-error>
      </mat-form-field>
      <div fxFlex="30">
        <div class="form-three-button-container smaller-button-container-40" fxLayout="row">
          <button fxflex type="button" (click)="resetdirectPutawayForm()" mat-raised-button color="accent">
            <mat-icon>restart_alt</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div fxLayout="row">
      <button type="button" fxFlex mat-raised-button color="primary">
        {{
        'scans.doubleScan.putaway' | translate
        }}
      </button>
    </div>

  </form>
  <br>
</div>