<button mat-raised-button class="dialog-close" [mat-dialog-close]="true" color="warn">
  <mat-icon class="close-icon">close</mat-icon>
</button>

<form [formGroup]="dataItemStForm" (ngSubmit)="onDataItemStSubmit()" class="slim-form">
  <section class="bordered-section">
    <div fxLayout="column" fxLayoutGap="5px">
      <fieldset class="read-only-input" fxFlex>
        <legend>{{ 'base.item.warehouse' | translate }}</legend>
        <label>Warehouse Name</label>
      </fieldset>
      <fieldset class="read-only-input" fxFlex>
        <legend>{{ 'base.item.item' | translate }}</legend>
        <label>Item Name</label>
      </fieldset>
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>{{
          'base.item.exclusiveZone' | translate
          }}</mat-label>
        <mat-select disableOptionCentering panelClass="slim-select-field" formControlName="exclusiveZone">
        </mat-select>
        <mat-error *ngIf="dataItemFormStControls.exclusiveZone.invalid">{{
          'error.field' | translate
          }}</mat-error>
      </mat-form-field>
    </div>
    <table class="site-table w-100">
      <thead>
        <tr>
          <th>#</th>
          <th>{{ 'base.item.storageType' | translate}}</th>
          <th>{{ 'base.item.primary' | translate}} ? </th>
        </tr>
      </thead>
      <tbody>
        <tr style="display: none;">
          <td></td>
          <td>
            <select class="column-200">
              <option value=""></option>
            </select>
          </td>
          <td class="checkbox-column">
            <mat-checkbox color="primary"></mat-checkbox>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <div class="modal-button-bottom">
    <button mat-raised-button type="submit">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</form>