<button mat-raised-button class="dialog-close" [mat-dialog-close]="true" color="warn">
  <mat-icon class="close-icon">close</mat-icon>
</button>

<form [formGroup]="netwtForm" (ngSubmit)="onnetwtFormSubmit()" class="slim-form">
  <section class="bordered-section">
    <div fxLayout="column" fxLayoutGap="5px">
      <fieldset class="read-only-input" fxFlex>
        <legend>{{ 'operations.receipt.item' | translate }}</legend>
        <label>{{ 'operations.receipt.item' | translate }}</label>
      </fieldset>

      <mat-form-field class="row" appearance="outline" fxFlex>
        <mat-label>{{
          'operations.receipt.unitWeight' | translate
          }}</mat-label>
        <input class="text-right" matInput type="text" formControlName="unitweight" />
      </mat-form-field>
      <fieldset class="read-only-input" fxFlex>
        <legend>{{ 'operations.receipt.quantity' | translate }}</legend>
        <label class="float-right-with-space">{{ 'operations.receipt.quantity' | translate }}</label>
      </fieldset>
      <mat-form-field class="row" appearance="outline" fxFlex>
        <mat-label>{{
          'operations.receipt.netwt' | translate
          }}</mat-label>
        <input class="text-right" matInput type="text" formControlName="netwt" />
      </mat-form-field>
    </div>
  </section>
  <div class="modal-button-bottom">
    <button mat-raised-button color="primary" type="submit">
      <mat-icon>task_alt</mat-icon>
    </button>
  </div>
</form>