<div class="page-title">
    <h2>{{'menu.queryStock' | translate}}</h2>
</div>

<form fxLayout="column" [formGroup]="stockForm" (ngSubmit)="onStockSubmit()" class="slim-form">
    <div>
        <mat-card>
            <mat-card-content>
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5px">
                    <div fxLayout="row" fxLayoutGap="5px" fxFlex>
                        <mat-form-field appearance="outline" fxFlex="33.1" fxFlex.lt-sm="60" fxFlex.lt-sm="50">
                            <mat-label>{{'query.stock.warehouse' | translate}}</mat-label>
                            <input matInput type="text" required formControlName="warehouse" />
                            <mat-error *ngIf="dataStockFormControls.warehouse.invalid">
                                {{ 'error.field' | translate }}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="33.1" fxFlex.lt-sm="50">
                            <mat-label>{{'query.stock.owner' | translate}}</mat-label>
                            <input matInput type="text" required formControlName="owner" />
                            <mat-icon matSuffix type="button" (click)="openOwnerDialog()">search</mat-icon>
                            <mat-error *ngIf="dataStockFormControls.owner.invalid">
                                {{ 'error.field' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5px">
                    <div fxLayout="row" fxLayoutGap="5px" fxFlex>
                        <mat-form-field appearance="outline" fxFlex="66.1" fxFlex.lt-sm="50">
                            <mat-label>{{'query.stock.item' | translate}}</mat-label>
                            <input matInput type="text" required formControlName="item" />
                            <mat-error *ngIf="dataStockFormControls.item.invalid">
                                {{ 'error.field' | translate }}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="50" fxFlex.lt-sm="50">
                            <mat-label>{{'query.stock.batchNo' | translate}}</mat-label>
                            <input matInput type="text" required formControlName="batchNo" />
                            <mat-error *ngIf="dataStockFormControls.batchNo.invalid">
                                {{ 'error.field' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="second-column" fxLayout="row" fxLayoutGap="5px" fxFlex>
                        <mat-form-field appearance="outline" fxFlex=20>
                            <mat-label>{{'query.stock.poRefNo' | translate}}</mat-label>
                            <input matInput type="text" required formControlName="poRefNo" />
                            <mat-error *ngIf="dataStockFormControls.poRefNo.invalid">
                                {{ 'error.field' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="5px">
                    <div fxLayout="row" fxLayoutGap="5px" fxFlex>
                        <mat-form-field appearance="outline" fxFlex="33.1" fxFlex.lt-sm="60" fxFlex.lt-sm="50">
                            <mat-label>{{ 'query.stock.expiryFrom' | translate }}</mat-label>
                            <input formControlName="expiryFrom" matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker">
                                <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="dataStockFormControls.expiryFrom.invalid">
                                {{ 'error.field' | translate }}
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" fxFlex="33.1" fxFlex.lt-sm="50">
                            <mat-label>{{ 'query.stock.expiryTo' | translate }}</mat-label>
                            <input formControlName="expiryTo" matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker">
                                <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="dataStockFormControls.expiryTo.invalid">
                                {{ 'error.field' | translate }}
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <hr>
    <mat-card>
        <!-- <mat-card-content>
            <table class="site-table w-100">
                <thead>
                    <tr>
                        <th>{{ 'operations.receipt.item' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-template let-operator ngFor [ngForOf]="receiptDataSource">
                        <tr>
                            <td>
                                <div class="input-container">
                                    <input type="text" class="w-100">
                                    <mat-icon type="button" (click)="openItemDialog()">search</mat-icon>
                                </div>
                            </td>
                            <td fxHide fxShow.gt-sm>
                                <input disabled type="text" class="w-100">
                            </td>
                            <td fxHide fxShow.gt-sm class="text-center">
                                <button type="button" class="text-button hover-underline-bottom"
                                    (click)="openRuDialog()" matRipple>
                                    <span>RU</span>
                                </button>
                            </td>
                            <td fxHide fxShow.gt-sm>
                                <input disabled type="text" class="w-100">
                            </td>
                            <td>
                                <input type="number" size="50" class="w-100">
                            </td>
                            <td>
                                <input type="number" class="w-100">
                            </td>
                            <td>
                                <input type="number" class="w-100">
                            </td>
                            <td fxHide fxShow.gt-sm class="text-center">
                                <button type="button" class="text-button" (click)="openNetWtDialog()">
                                    <span>w</span>
                                </button>
                            </td>
                            <td fxHide fxShow.gt-sm class="text-center">
                                <button type="button" class="text-button" (click)="openNetVolDialog()">
                                    <span>v</span>
                                </button>
                            </td>
                            <td fxHide fxShow.gt-sm class="column-100">
                                <input type="date" class="w-100">
                            </td>
                            <td fxHide fxShow.gt-sm class="column-100">
                                <input type="date" class="w-100">
                            </td>
                            <td>
                                <input type="number" class="w-100">
                            </td>
                            <td fxHide fxShow.gt-sm>
                                <input type="number" class="w-100">
                            </td>
                            <td class="two-button-column" style="width: 90px;">
                                <button mat-mini-fab color="primary" class="mdb-30">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button mat-mini-fab color="warn" class="mdb-30">
                                    <mat-icon>remove</mat-icon>
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap.lt-md="30px" fxLayoutAlign="space-between center">
                <div fxFlexOrder.lt-md="2">
                    <ibe-data-audit insertedBy=""></ibe-data-audit>
                </div>
                <div class="form-three-button-container" fxFlexOrder.lt-md="1">
                    <button mat-raised-button color="primary" type="submit" (click)="saveReceiptData()">
                        <mat-icon>task_alt</mat-icon>
                    </button>
                    <button mat-raised-button color="warn" type="button" (click)="deleteReceiptData()">
                        <mat-icon>remove_circle_outline</mat-icon>
                    </button>
                    <button mat-raised-button color="accent" type="reset" (click)="resetReceiptDataForm()">
                        <mat-icon>loop</mat-icon>
                    </button>
                </div>
            </div>
        </mat-card-content> -->
    </mat-card>
</form>