.free {
  background-color: green;
  color: white;
}

.full {
  background-color: red;
  color: white;
}

.partial {
  background-color: blue;
  color: white;
}

.blue {
  color: blue !important;
}

.red {
  color: red !important;
}

.green {
  color: green !important;
}


td {
  cursor: pointer;
}

.slim-form{
  ::ng-deep .mat-form-field-subscript-wrapper {
    margin-top: 3px !important;
  }
}