.forgot-password-container {
  display: flex;
  width: 100%;
  height: 90%;
  > section {
    flex: 1;
  }
  .forgot-password-banner {
    background-image: url("../../../../assets/images/main-image.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .forgot-password-card {
    max-width: 550px;
    width: 80%;
    .forgot-password-form {
      mat-form-field {
        display: block;
        margin-bottom: 1rem;
      }
      .forgot-password-button-container button {
        background-color: var(--blue);
        color: var(--white);
        padding-left: 1rem;
        padding-right: 1rem;
      }
      .forgot-password-button-container button .mat-icon {
        padding-right: 2rem;
      }
    }
  }
}

.back-to-login a{
  color: var(--blue) !important;
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .dvbutton {
    display: block !important;
    .back-to-login {
      float: right;
      a {
        margin-top: 15px;
      }
    }
  }
  .forgot-password-button-container {
    text-align: center;
    width: 100% !important;
    button {
      width: 90%;
    }
  }
}

@media only screen and (min-device-width: 834px) and (max-device-width: 1112px) and (-webkit-min-device-pixel-ratio: 2) {
  .forgot-password-banner {
    display: none;
  }
  .forgot-password-card {
    max-width: 700px !important;
    width: 90% !important; 
  }
  .forgot-password-button-container {
    width: 60% !important;
    button {
      width: 50%;
    }
  }
}