<div class="forgot-password-container">
    <section class="forgot-password-banner" fxShow fxHide.lt-md></section>
    <section fxLayoutAlign="center center">
        <mat-card class="forgot-password-card high-shadow">
            <h1>{{ 'forgotPassword.title' | translate }}</h1>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="forgot-password-form">
                <mat-form-field appearance="standard">
                    <mat-label>{{ 'forgotPassword.loginIdLabel' | translate }}</mat-label>
                    <input matInput required type="text" formControlName="email">
                    <mat-icon matPrefix>person</mat-icon>
                    <mat-error *ngIf="forgotPasswordFormControl.email.invalid">
                        {{'forgotPassword.loginIdError' | translate}}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="standard">
                    <mat-label>{{ 'forgotPassword.emailLabel' | translate }}</mat-label>
                    <input matInput required type="text" formControlName="email">
                    <mat-icon matPrefix>mail</mat-icon>
                    <mat-error *ngIf="forgotPasswordFormControl.email.invalid">
                        {{'forgotPassword.emailError' | translate}}
                    </mat-error>
                </mat-form-field>
                <mat-error *ngIf="emailInvalid">
                    {{'forgotPassword.forgotPasswordFormError' | translate}}
                </mat-error>
                <div fxLayoutAlign="space-between center" class="dvbutton">
                    <div class="forgot-password-button-container">
                        <button mat-raised-button color="primary" type="submit">
                            <mat-icon> mail_outline</mat-icon>
                            {{ 'forgotPassword.buttonLabel' | translate }}
                        </button>
                    </div>
                    <div xLayout="row" fxLayoutAlign="space-between center" class="back-to-login">
                        <a [routerLink]="['/auth/login']">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
                            </svg>
                            {{ 'forgotPassword.back' | translate }}
                        </a>
                    </div>
                </div>
            </form>
        </mat-card>
    </section>
</div>
<div class="footer">
    <section class="footer-left">
      <img src="../../../../assets/images/LogoGemini.png" />
    </section>
    <section class="footer-right">
      <span>© 2021 All rights reserved.</span>
      <span>Best viewd in Chrome 85+</span>
    </section>
  </div>