<div class="forgot-password-container">
  <section class="forgot-password-banner" fxShow fxHide.lt-md></section>
  <section fxLayoutAlign="center center">
      <mat-card class="forgot-password-card high-shadow">
          <!-- <h1>{{ 'forgotPassword.title' | translate }}</h1> -->
          <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="forgot-password-form">
              <mat-form-field appearance="standard">
                  <mat-label>{{ 'forgotPassword.loginIdLabel' | translate }}</mat-label>
                  <input matInput required type="text" formControlName="email">
                  <mat-icon matPrefix>person</mat-icon>
                  <mat-error *ngIf="forgotPasswordFormControl.email.invalid">
                      {{'forgotPassword.loginIdError' | translate}}
                  </mat-error>
              </mat-form-field>
              <mat-form-field appearance="standard">
                  <mat-label>{{ 'forgotPassword.emailLabel' | translate }}</mat-label>
                  <input matInput required type="text" formControlName="email">
                  <mat-icon matPrefix>mail</mat-icon>
                  <mat-error *ngIf="forgotPasswordFormControl.email.invalid">
                      {{'forgotPassword.emailError' | translate}}
                  </mat-error>
              </mat-form-field>
              <mat-error *ngIf="emailInvalid">
                  {{'forgotPassword.forgotPasswordFormError' | translate}}
              </mat-error>
              <div fxLayoutAlign="space-between center" class="dvbutton">
                  <div class="forgot-password-button-container">
                      <button mat-raised-button color="primary" type="submit">
                          <mat-icon> mail_outline</mat-icon>
                          {{ 'forgotPassword.buttonLabel' | translate }}
                      </button>
                  </div>
                  <div xLayout="row" fxLayoutAlign="space-between center" class="back-to-login">
                    <button mat-button color="primary"
                    type="button"
                    (click)="gotoLoginPage()">
                    {{ 'forgotPassword.back' | translate }}</button>
                  </div>
              </div>
          </form>
      </mat-card>
  </section>
</div>
