<div class="page-title">
  <h2>{{'menu.dashboardsHeatMap' | translate}}</h2>
</div>
<br> <br>
<form fxLayout="column" [formGroup]="HeatMapForm" (ngSubmit)="onHeatMapFormSubmit()" class="slim-form">
  <section class="bordered-section">
    <div class="row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px" fxLayoutGap.lt-md="0px">
      <mat-form-field appearance="outline" fxFlex.gt-sm="30">
        <mat-label>{{
          'dashboard.HeatMap.warehouse' | translate
          }}</mat-label>
        <mat-select disableOptionCentering panelClass="slim-select-field" formControlName="warehouse">
          <mat-option value="warehouse">{{'dashboard.HeatMap.warehouse' | translate}}</mat-option>
        </mat-select>
        <mat-error *ngIf="HeatMapFormControls.warehouse.invalid">{{
          'error.field' | translate
          }}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex.gt-sm="30">
        <mat-label>{{'dashboard.HeatMap.po' | translate}}</mat-label>
        <input matInput type="text" formControlName="po" />
        <mat-error *ngIf="HeatMapFormControls.po.invalid">
          {{ 'error.field' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-checkbox color="primary" formControlName="rowsplit" fxFlex.gt-sm="20">
        {{'dashboard.HeatMap.rowsplit' | translate}}
      </mat-checkbox>

    </div>
    <div class="row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="5px" fxLayoutGap.lt-md="0px">
      <mat-form-field appearance="outline" fxFlex.gt-sm="30">
        <mat-label>{{'dashboard.HeatMap.item' | translate}}</mat-label>
        <input matInput type="text" formControlName="item" />
        <mat-error *ngIf="HeatMapFormControls.item.invalid">
          {{ 'error.field' | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" fxFlex.gt-sm="30">
        <mat-label>{{'dashboard.HeatMap.batchnumber' | translate}}</mat-label>
        <input matInput type="text" formControlName="batchnumber" />
        <mat-error *ngIf="HeatMapFormControls.batchnumber.invalid">
          {{ 'error.field' | translate }}
        </mat-error>
      </mat-form-field>
      <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="end center" fxLayoutAlign.lt-sm="end end">
        <div class="form-three-button-container" fxFlex.gt-sm="40">
          <button mat-raised-button color="primary" type="submit">
            <mat-icon>search</mat-icon>
          </button>
          <button type="button" (click)="resetHeatMapForm()" mat-raised-button color="accent">
            <mat-icon>restart_alt</mat-icon>
          </button>
        </div>
      </div>

    </div>

  </section>
  <section class="bordered-section">
    <div fxLayout="row" class="pale-border-box">
      <h3 class="red" fxFlex>{{ 'dashboard.HeatMap.full' | translate }} (12)</h3>
      <h3 class="green" fxFlex>{{ 'dashboard.HeatMap.free' | translate }} (15)</h3>
      <h3 class="blue" fxFlex>{{ 'dashboard.HeatMap.partial' | translate }} (18)</h3>
    </div>
  </section>
  <section class="bordered-section">
    <table class="site-table mat-elevation-z8">
      <thead>
      </thead>
      <tbody>
        <tr *ngFor="let row of dummydata">
          <td [ngClass]="{'full': item.status=='full','partial':item.status=='partial','free':item.status=='free'}"
            *ngFor="let item of row" (click)="openCellDialog()"> {{item.value}}</td>
        </tr>
      </tbody>
    </table>
  </section>
</form>