@import '../../../../assets/scss/variables.scss';
.mat-column-action {
  width: 50px;
}
.document-table {
  height: auto;
  padding-top: 10px;
  min-height: 144px;
}
.rulebox-table,
.contacts-table,
.operator-table {
  table {
    margin-bottom: 10px;
    padding-top: 10px;
    input {
      border: 1px solid $site-gray;
    }
  }
}
