<div class="page-title">
    <h2>{{'menu.setupWarehouse' | translate}}</h2>
</div>
<mat-tab-group #setupWarehouseTab>
    <!-- Data -->
    <mat-tab label="Data">
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="Warehouse">
                    <form fxLayout="column" [formGroup]="dataWarehouseForm" class="slim-form error-right-form">
                        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="stretch" fxLayoutGap="5px"
                            fxLayoutAlign=" stretch" class="warehouse-data-form">
                            <div fxFlex="100%">
                                <mat-card class="h-100">
                                    <mat-card-content fxFlex="80%">
                                        <div fxLayout="row" class="row" fxLayoutGap="5px">
                                            <mat-form-field appearance="outline" fxFlex="40">
                                                <mat-label>{{
                                                    'setup.warehouse.companyCode' | translate
                                                    }}</mat-label>
                                                <input matInput type="text" readonly formControlName="companyCode" />
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" fxFlex>
                                                <mat-label>{{
                                                    'setup.warehouse.companyName' | translate
                                                    }}</mat-label>
                                                <input matInput type="text" readonly formControlName="companyName" />
                                            </mat-form-field>
                                        </div>
                                        <div fxLayout="row" class="row" fxLayoutGap="5px">
                                            <mat-form-field appearance="outline" fxFlex="20">
                                                <mat-label>{{
                                                    'setup.warehouse.code' | translate
                                                    }}</mat-label>
                                                <input matInput required type="text" formControlName="code" />
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" fxFlex>
                                                <mat-label>{{
                                                    'setup.warehouse.description' | translate
                                                    }}</mat-label>
                                                <input matInput required type="text" formControlName="description" />
                                            </mat-form-field>
                                        </div>
                                        <div fxLayout="row" class="row" fxLayoutGap="5px">
                                            <mat-form-field appearance="outline" fxFlex="50">
                                                <mat-label>{{
                                                    'setup.warehouse.address1' | translate
                                                    }}</mat-label>
                                                <input matInput required type="text" formControlName="address1" />
                                                <mat-error *ngIf="dataWarehouseControls.address1.invalid">
                                                    {{'error.field' | translate }}</mat-error>
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" fxFlex>
                                                <mat-label>{{
                                                    'setup.warehouse.address2' | translate
                                                    }}</mat-label>
                                                <input matInput type="text" formControlName="address2" />
                                            </mat-form-field>
                                        </div>
                                        <div fxLayout="row" class="row" fxLayoutGap="5px">
                                            <mat-form-field appearance="outline" fxFlex="50">
                                                <mat-label>{{
                                                    'setup.warehouse.address3' | translate
                                                    }}</mat-label>
                                                <input matInput type="text" formControlName="address3" />
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" fxFlex>
                                                <mat-label>{{
                                                    'setup.warehouse.address4' | translate
                                                    }}</mat-label>
                                                <input matInput type="text" formControlName="address4" />
                                            </mat-form-field>
                                        </div>
                                        <div fxLayout="row" class="row" fxLayoutGap="5px">
                                            <mat-form-field appearance="outline" fxFlex="20">
                                                <mat-label>{{
                                                    'setup.warehouse.zip' | translate
                                                    }}</mat-label>
                                                <input matInput type="text" formControlName="zip" />
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" fxFlex="40">
                                                <mat-label>{{
                                                    'setup.warehouse.telephone' | translate
                                                    }}</mat-label>
                                                <input matInput type="text" formControlName="telephone" />
                                            </mat-form-field>
                                            <mat-form-field appearance="outline" fxFlex>
                                                <mat-label>{{
                                                    'setup.warehouse.fax' | translate
                                                    }}</mat-label>
                                                <input matInput type="text" formControlName="fax" />
                                            </mat-form-field>
                                        </div>
                                        <div fxLayout="row" class="row" fxLayoutGap="5px">
                                            <mat-form-field appearance="outline" fxFlex>
                                                <mat-label>{{
                                                    'setup.warehouse.email' | translate
                                                    }}</mat-label>
                                                <input matInput type="text" formControlName="email" />
                                            </mat-form-field>
                                        </div>
                                        <div fxLayout="row" class="row" fxLayoutGap="5px">
                                            <mat-form-field appearance="outline" fxFlex="30">
                                                <mat-label>{{
                                                    'setup.warehouse.id' | translate
                                                    }}</mat-label>
                                                <input matInput required type="text" formControlName="id" />
                                            </mat-form-field>
                                        </div>
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </form>
                </mat-tab>
                <mat-tab label="Document">
                    <mat-card class="mat-elevation-z10">
                        <mat-card-content>
                          <table mat-table  class="mat-elevation-z8 documents-table">
                            <ng-container matColumnDef="type"> 
                              <th mat-header-cell *matHeaderCellDef>Type</th>
                              <td mat-cell *matCellDef="let element; let idx=index">
                                <button mat-button disableRipple class="primary-button link-button"
                                  >{{ element.companyCode }}</button>
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="prefix">
                              <th mat-header-cell *matHeaderCellDef>Prefix</th>
                              <td mat-cell *matCellDef="let element">
                                {{ element.companyName }}
                              </td>
                            </ng-container>
                            <ng-container matColumnDef="currentNo">
                                <th mat-header-cell *matHeaderCellDef>Current No</th>
                                <td mat-cell *matCellDef="let element">
                                  {{ element.companyName }}
                                </td>
                              </ng-container>
                              <ng-container matColumnDef="autoEmail">
                                <th mat-header-cell *matHeaderCellDef>Auto Email</th>
                                <td mat-cell *matCellDef="let element">
                                  {{ element.companyName }}
                                </td>
                              </ng-container>
                  
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
                          </table>
                        </mat-card-content>
                      </mat-card>
                </mat-tab>
                <mat-tab label="Rule Box">

                </mat-tab>
                <mat-tab label="Contacts">

                </mat-tab>
                <mat-tab label="Operator">

                </mat-tab>
            </mat-tab-group>

        </mat-card-content>

    </mat-tab>

    <!-- Search -->
    <mat-tab label="Search">
    </mat-tab>
</mat-tab-group>