<div class="page-title">
  <h2>{{'menu.setupSecurity' | translate}}</h2>
</div>
<mat-tab-group #setupSecurityTab>
  <mat-tab label="Data">
    <form [formGroup]="dataSetupSecurityForm" (ngSubmit)="onDataSetupSecuritySubmit()" class="slim-form">
      <div class="bordered-section">
        <section class="inner-tab">
          <mat-tab-group #setupSecurityDataTab id="setupSecurityDataTab">
            <mat-tab label="User">
              <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="stretch" fxLayoutGap="5px">
                <div fxFlex="80%">
                  <div fxLayout="row" class="row" fxLayoutGap="5px">
                    <mat-form-field appearance="outline" fxFlex="49">
                      <mat-label>{{'setup.security.loginName' | translate }}</mat-label>
                      <input matInput required type="text" formControlName="loginName" autocomplete="username" />
                      <mat-error *ngIf="dataSetupSecurityFormControls.loginName.invalid">
                        {{ 'error.field' | translate }}
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex fxFlex.lt-sm="49.25">
                      <mat-label>{{'setup.security.license' | translate}}</mat-label>
                      <mat-select disableOptionCentering panelClass="slim-select-field" formControlName="license">
                        <mat-option value="license1">License 1</mat-option>
                        <mat-option value="license2">License 2</mat-option>
                      </mat-select>
                      <mat-error *ngIf="dataSetupSecurityFormControls.license.invalid">
                        {{ 'error.field' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" class="row" fxLayoutGap="5px">
                    <mat-form-field appearance="outline" fxFlex>
                      <mat-label>{{'setup.security.fullName' | translate}}</mat-label>
                      <input matInput required type="text" formControlName="fullName" />
                      <mat-error *ngIf="dataSetupSecurityFormControls.fullName.invalid">
                        {{ 'error.field' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" class="row" fxLayoutGap="5px">
                    <mat-form-field appearance="outline" fxFlex="49">
                      <mat-label>{{'setup.security.password' | translate}}</mat-label>
                      <input matInput required type="password" #securityPassword formControlName="password"
                        autocomplete="new-password" />
                      <ibe-password-strength *ngIf="securityPassword.value" [password]="securityPassword.value"
                        (onStrengthChanged)="onStrengthChanged($event)">
                      </ibe-password-strength>
                      <mat-error *ngIf="dataSetupSecurityFormControls.password.invalid">
                        {{ 'error.field' | translate }}
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex fxFlex.lt-sm="49.5">
                      <mat-label>{{'setup.security.confirmPassword' | translate}}</mat-label>
                      <input matInput required type="password" #securityConfirmPassword
                        formControlName="confirmPassword" autocomplete="new-password" />
                      <ibe-password-strength *ngIf="securityConfirmPassword.value"
                        [password]="securityConfirmPassword.value" (onStrengthChanged)="onStrengthChanged($event)">
                      </ibe-password-strength>
                      <mat-error *ngIf="dataSetupSecurityFormControls.confirmPassword.invalid">
                        {{ 'error.field' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" class="row" fxLayoutGap="5px">
                    <mat-form-field appearance="outline" fxFlex="49">
                      <mat-label>{{'setup.security.designation' | translate}}</mat-label>
                      <input matInput required type="text" formControlName="designation" />
                      <mat-error *ngIf="dataSetupSecurityFormControls.designation.invalid">
                        {{ 'error.field' | translate }}
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex fxFlex.lt-sm="49.5">
                      <mat-label>{{'setup.security.department' | translate}}</mat-label>
                      <input matInput required type="text" formControlName="department" />
                      <mat-error *ngIf="dataSetupSecurityFormControls.department.invalid">
                        {{ 'error.field' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" class="row" fxLayoutGap="5px">
                    <mat-form-field appearance="outline" fxFlex>
                      <mat-label>{{'setup.security.email' | translate}}</mat-label>
                      <input matInput required type="text" formControlName="email" class="normal" />
                      <mat-error *ngIf="dataSetupSecurityFormControls.email.invalid">
                        {{ 'error.field' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxLayout="row" class="row" fxLayoutGap="5px">
                    <mat-form-field appearance="outline" fxFlex="49" fxFlex.lt-sm>
                      <mat-label>{{'setup.security.telephone' | translate}}</mat-label>
                      <input matInput required type="text" formControlName="telephone" />
                      <mat-error *ngIf="dataSetupSecurityFormControls.telephone.invalid">
                        {{ 'error.field' | translate }}
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="pale-border-box">
                    <mat-checkbox color="primary" [checked]="suspendRevoke" (change)="toggleSuspendRevoke($event)">
                      <b>{{'setup.security.suspendRevoke' | translate }}</b>
                    </mat-checkbox>
                    <div fxLayout="row" fxLayout.lt-sm="column" class="row" fxLayoutGap="5px" fxLayoutGap.lt-sm="5px">
                      <mat-form-field appearance="outline" fxFlex>
                        <mat-label>{{'setup.security.suspendFrom' | translate }}</mat-label>
                        <input formControlName="suspendFrom" matInput [matDatepicker]="suspendFrom"
                          [readonly]="!suspendRevoke">
                        <mat-datepicker-toggle matSuffix [for]="suspendFrom">
                          <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #suspendFrom></mat-datepicker>
                      </mat-form-field>
                      <mat-form-field appearance="outline" fxFlex>
                        <mat-label>{{'setup.security.suspendTo' | translate}}</mat-label>
                        <input formControlName="suspendTo" matInput [matDatepicker]="suspendTo"
                          [readonly]="!suspendRevoke">
                        <mat-datepicker-toggle matSuffix [for]="suspendTo">
                          <mat-icon matDatepickerToggleIcon>calendar_today</mat-icon>
                        </mat-datepicker-toggle>
                        <mat-datepicker #suspendTo></mat-datepicker>
                      </mat-form-field>
                      <fieldset class="read-only-input" fxFlex>
                        <legend>{{ 'setup.security.lastSuspended' | translate }}</legend>
                        <label>ADMINISTRATOR</label>
                      </fieldset>
                      <fieldset class="read-only-input" fxFlex>
                        <legend>{{ 'setup.security.lastRevoked' | translate }}</legend>
                        <label>ADMINISTRATOR</label>
                      </fieldset>
                    </div>
                  </div>
                </div>
                <div fxFlex="20%">
                  <fieldset class="read-only-input">
                    <legend>{{ 'setup.security.expiryOn' | translate }}</legend>
                    <label>14/06/2023</label>
                  </fieldset>
                </div>
              </div>
            </mat-tab>
            <mat-tab label="Access">
              <table mat-table [dataSource]="warehousesDataSource" class="w-100 site-table">
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef class="checkbox-column">
                    <mat-checkbox color="primary" (change)="$event ? warehouseMasterToggle() : null"
                      [checked]="warehouseSelection.hasValue() && isAllWarehouseSelected()"
                      [indeterminate]="warehouseSelection.hasValue() && !isAllWarehouseSelected()"
                      [aria-label]="warehouseCheckboxLabel()">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row" class="checkbox-column">
                    <mat-checkbox color="primary" (click)="$event.stopPropagation()"
                      (change)="$event ? warehouseSelection.toggle(row) : null"
                      [checked]="warehouseSelection.isSelected(row)" [aria-label]="warehouseCheckboxLabel(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>
                <ng-container matColumnDef="text">
                  <th mat-header-cell *matHeaderCellDef>Warehouse</th>
                  <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedWarehouseColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedWarehouseColumns;"
                  (click)="warehouseSelection.toggle(row)">
                </tr>
              </table>
            </mat-tab>
            <mat-tab label="Privileges">
              <div fxLayout="row">
                <div fxFlex="40%">
                  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
                    <!-- This is the tree node template for leaf nodes -->
                    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
                      <!-- use a disabled button to provide padding for tree leaf -->
                      <button type="button" mat-icon-button disabled></button>
                      <mat-checkbox [checked]="descendantsAllSelected(node)"
                        [indeterminate]="descendantsPartiallySelected(node)" (change)="todoItemSelectionToggle(node)">
                        {{node.name}}</mat-checkbox>
                    </mat-tree-node>
                    <!-- This is the tree node template for expandable nodes -->
                    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                      <button type="button" mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                        <mat-icon class="mat-icon-rtl-mirror">
                          {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                      </button>
                      <mat-checkbox [checked]="descendantsAllSelected(node)"
                        [indeterminate]="descendantsPartiallySelected(node)" (change)="todoItemSelectionToggle(node)">
                        {{node.name}}</mat-checkbox>

                    </mat-tree-node>
                  </mat-tree>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </section>
      </div>
      <section class="data-tab-footer">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="space-between center"
          fxLayoutAlign.lt-md="space-between center">
          <div fxFlexOrder.lt-md="2">
            <ibe-data-audit insertedBy=""></ibe-data-audit>
          </div>
          <div class="form-three-button-container" fxFlexOrder.lt-md="1">
            <button mat-raised-button color="primary" type="submit" (click)="saveSecurityUserData()">
              <mat-icon>task_alt</mat-icon>
            </button>
            <button mat-raised-button color="warn" type="button" (click)="deleteSecurityUserData()">
              <mat-icon>remove_circle_outline</mat-icon>
            </button>
            <button mat-raised-button color="accent" type="reset" (click)="resetSecurityUserDataForm()">
              <mat-icon>loop</mat-icon>
            </button>
          </div>
        </div>
      </section>
    </form>
  </mat-tab>
  <mat-tab label="Search">
    <form fxLayout="column" [formGroup]="searchSetupSecurityForm" (ngSubmit)="onSearchSetupSecuritySubmit()"
      class="slim-form">
      <section class="bordered-section">
        <div class="row" fxLayout="row" fxLayoutGap="5px">
          <mat-form-field appearance="outline" fxFlex="33">
            <mat-label>{{
              'setup.security.loginName' | translate
              }}</mat-label>
            <input matInput type="text" formControlName="loginName" />
            <mat-error *ngIf="searchSetupSecurityFormControls.loginName.invalid">
              {{ 'error.field' | translate }}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex="33">
            <mat-label>{{
              'setup.security.fullName' | translate
              }}</mat-label>
            <input matInput type="text" formControlName="fullName" />
            <mat-error *ngIf="searchSetupSecurityFormControls.fullName.invalid">
              {{ 'error.field' | translate }}</mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline" fxFlex fxFlex.lt-sm="32">
            <mat-label>{{'setup.security.suspended' | translate}}</mat-label>
            <mat-select disableOptionCentering panelClass="slim-select-field" formControlName="suspended">
              <mat-option value="yes">Yes</mat-option>
              <mat-option value="no">No</mat-option>
            </mat-select>
            <mat-error *ngIf="searchSetupSecurityFormControls.suspended.invalid">
              {{ 'error.field' | translate }}</mat-error>
          </mat-form-field>
        </div>
      </section>
      <section class="search-tab-footer">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="end center" fxLayoutAlign.lt-sm="end end">
          <div class="form-three-button-container">
            <button mat-raised-button color="primary" type="submit">
              <mat-icon>search</mat-icon>
            </button>
            <button mat-raised-button color="accent" type="reset" (click)="resetSetupSecuritySearchForm()">
              <mat-icon>restart_alt</mat-icon>
            </button>
          </div>
        </div>
      </section>
    </form>
    <section class="search-result-bordered-section">
      <table class="site-table">
        <thead>
          <tr>
            <th style="width: 300px;">{{ 'setup.security.loginName' | translate}}</th>
            <th>{{ 'setup.security.fullName' | translate}}</th>
            <th>{{ 'setup.security.designation' | translate}}</th>
            <th style="width: 100px;">Welcome Mail</th>
            <th style="width: 120px;">Expired License</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Login Name 1</td>
            <td>Full Name 1</td>
            <td>Designation 1</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Login Name 2</td>
            <td>Full Name 2</td>
            <td>Designation 2</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </section>
  </mat-tab>
</mat-tab-group>