@import "../../../../assets/scss/variables.scss";

.first-column {
  margin-right: 50px;
}

.pale-border-box{
  mat-form-field{
    @include breakpoint(mobileonly) {
      margin-bottom: 0px !important;
    }
    .mat-form-field-wrapper{
      padding-bottom:  0px !important;
    }
  }
  ::ng-deep .mat-form-field-wrapper {
    @include breakpoint(mobileonly) {
      padding-bottom: 0em !important;
      }
  }
}

