@use '~@angular/material' as mat;
@import './assets/scss/site-variables';

@include mat.core();

$my-primary: #014789;
$my-accent: #be235f;
$my-warn: #f44336;

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
   warn: $my-warn
 )
));

@include mat.all-component-themes($my-theme);
