@import './assets/scss/variables.scss';
@import './assets/scss/buttons.scss';
@import './assets/scss/mat-forms.scss';
@import './assets/scss/mat-nav.scss';
@import './assets/scss/mat-table.scss';
@import './assets/scss/utilities.scss';

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background-color: $site-bg-white;
  color: $site-black;
  font-size: 16px;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}
small {
  color: $site-black;
  display: block;
  font-style: italic;
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}
.input-group {
  border-collapse: collapse;
}
.input-group > div {
  display: table-cell;
  border: 1px solid #ddd;
  vertical-align: middle; /* needed for Safari */
}
.input-group-icon {
  background: #eee;
  color: #777;
  padding: 0 12px;
}
.input-group-title {
  white-space: nowrap;
  padding: 0 12px;
}
.input-group-area {
  width: 100%;
}
.input-group input {
  border: 0;
  display: block;
  width: 100%;
  padding: 8px;
}
.primary-border {
  border: 1px solid $site-primary;
}
.pale-border-box {
  border: 1px solid $site-light-gray;
  margin-top: 0.25rem;
  padding: 0.25rem;
}
.spacer {
  flex: 1 1 auto;
}
.scanned-input {
  background-color: $scanned-input-bg !important;
  caret-color: $logo-green !important;
}
.high-shadow {
  box-shadow: 0 11px 15px -7px rgb(0 0 0 / 20%),
    0 24px 38px 3px rgb(0 0 0 / 14%), 0 9px 46px 8px rgb(0 0 0 / 12%) !important;
}
.page-title {
  right: 0;
  margin-right: 10px;
  margin-top: 30px;
  position: absolute;
  top: 0;
  h2 {
    color: $site-primary;
    @include breakpoint(mobileonly) {
      font-size: 0.9rem;
    }
  }
}
